@use '../../../adr-colors';

mat-tab-group {
  min-height: 78vh;
}

/* .large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid adr-colors.$secondary-adr;
  min-height: 75vh;
} */