<h1>success-stories-detail works!</h1>
<form [formGroup]="formSuccessStories" (ngSubmit)="onSubmit()">
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Dades generals">
    <section ngClass="large-box detail-format">
      <mat-form-field [style.width.px]=350>
        <mat-label>Codi</mat-label>
        <input matInput formControlName="id" aria-label="id" value="{{id}}" readonly>
      </mat-form-field>
      <mat-form-field [style.width.px]=350>
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nombre" aria-label="Nombre" >
      </mat-form-field>    
    </section>
  </mat-tab>
  <mat-tab label="Acord">
    <section ngClass="large-box">
      Content 2
    </section>
  </mat-tab>
  <mat-tab label="Dades projecte Reemprenedor">
    <section ngClass="large-box">
      Content 3
    </section>
  </mat-tab>
  <mat-tab label="Testimonial">
    <section ngClass="large-box">
      Content 4
    </section>
  </mat-tab>
  <mat-tab label="Seguiment">
    <section ngClass="large-box">
      Content 5
    </section>
  </mat-tab>
  <mat-tab label="Documentació">
    <section ngClass="large-box">
      Content 6
    </section>
  </mat-tab>
</mat-tab-group>
<section ngClass="info-account">
  <button mat-raised-button color="primary" type="submit" ngClass="info-account">Guardar {{formSuccessStories.status}}</button>
</section>
</form>