<h1>success-stories-detail works!</h1>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Dades generals">
    <section ngClass="large-box">
      Content 1
    </section>
  </mat-tab>
  <mat-tab label="Acord">
    <section ngClass="large-box">
      Content 2
    </section>
  </mat-tab>
  <mat-tab label="Dades projecte Reemprenedor">
    <section ngClass="large-box">
      Content 3
    </section>
  </mat-tab>
  <mat-tab label="Testimonial">
    <section ngClass="large-box">
      Content 4
    </section>
  </mat-tab>
  <mat-tab label="Seguiment">
    <section ngClass="large-box">
      Content 5
    </section>
  </mat-tab>
  <mat-tab label="Documentació">
    <section ngClass="large-box">
      Content 6
    </section>
  </mat-tab>
</mat-tab-group>