@use '@angular/material' as mat;
@use '../../../adr-colors';

h1 {
  margin: .5rem;
}
mat-tab-group {
  min-height: 78vh;
}
.info-contact {
  margin: auto;
  width: 80%;
  text-align: center;
}
.radio-margin {
  margin: 0 10px;
}