<section>
  <input type="file" (change)="onFilesSelected($event)" multiple />
  <button mat-button (click)="uploadFiles()">Subir Archivos</button>
  <button mat-button (click)="cancelUpload()">Cancelar Carga</button>
  <table mat-table [dataSource]="files" class="mat-elevation-z8">
    <ng-container matColumnDef="fileName">
      <th mat-header-cell *matHeaderCellDef> Nombre del Archivo </th>
      <td mat-cell *matCellDef="let file"> {{file.name}} </td>
    </ng-container>
    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef> Progreso </th>
      <td mat-cell *matCellDef="let file; let i = index">
        <mat-progress-bar mode="determinate" [value]="progress[i]"></mat-progress-bar>
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let file; let i = index"> {{statuses[i].status}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['fileName', 'progress', 'status']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['fileName', 'progress', 'status'];"></tr>
  </table>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>
</section>
