<section>
  <mat-table [dataSource]="fileDataSource">
    <ng-container matColumnDef="fileName">
       <mat-header-cell *matHeaderCellDef> Nombre del Archivo </mat-header-cell>
       <mat-cell *matCellDef="let file"> {{file.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
      <mat-cell *matCellDef="let file">
         <button mat-button (click)="cancelUpload(file)">Cancelar</button>
      </mat-cell>
   </ng-container>
   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
   <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<input type="file" (change)="onFileSelected($event)" multiple>

<button mat-raised-button color="primary" (click)="uploadFiles()">Enviar</button>

<div *ngIf="uploadProgress > 0">
  <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
</div>
 
</section>
