@use "../../../_adr-colors";

mat-sidenav,
mat-expansion-panel {
  background-color: adr-colors.$secondary-adr;
}
mat-toolbar {
  background-color: adr-colors.$primary-adr;
  display: grid;
  grid-template-areas: "topLeft topMiddle topMiddle topMiddle topRight";
  text-align: center;

  .top-left {
    grid-area: topLeft;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    align-items: center;
    justify-items: center;
  }

  .top-middle {
    grid-area: topMiddle;
    display: grid;
    text-align: center;
  }

  .top-right {
    grid-area: topRight;
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
    align-items: center;
    justify-items: center;
  }
}

@media screen and (max-width: 795px) {
  mat-toolbar {
    grid-template-columns: 100%;
    grid-template-areas: "topLeft";
    .top-left {
      grid-area: topLeft;
      grid-template-columns: 0.1fr 0.9fr;
    }
    .top-middle,
    .top-right {
      display: none;
    }
  }
}
