@use "../../../_adr-colors";

mat-sidenav,
mat-expansion-panel {
  background-color: adr-colors.$secondary-adr;

  .mobileGrid {
    display: none;
  }
}
mat-toolbar {
  background-color: adr-colors.$primary-adr;
  display: grid;
  grid-template-areas: "topLeft topMiddle topMiddle topMiddle topRight";
  text-align: center;

  .top-left {
    grid-area: topLeft;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    align-items: center;
    justify-items: center;
  }

  .top-middle {
    grid-area: topMiddle;
    display: grid;
    text-align: center;
  }

  .top-right {
    grid-area: topRight;
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
    align-items: center;
    justify-items: center;
  }
}

@media screen and (max-width: 992px) {
  mat-sidenav .mobileGrid {
    display: grid;
    grid-template-areas:
      "userInfo"
      "selectorLanguage";
    .userInfoMobile {
      grid-area: userInfo;
      display: grid;
      grid-template-columns: 0.05fr 0.95fr;
      text-align: center;
      align-items: center;
    }
    .languageMobile {
      grid-area: selectorLanguage;
      display: grid;
      justify-items: center;
    }
  }
  mat-toolbar {
    grid-template-columns: 100%;
    grid-template-areas: "topLeft";
    .top-left {
      grid-area: topLeft;
      grid-template-columns: 0.05fr 0.95fr;
    }
    .top-middle,
    .top-right {
      display: none;
    }
  }
}
