<header>
  <mat-toolbar color="primary">
    <section class="top-left">
      <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu" class="sideNav">
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="home" class="domain">ibrelleu.adrbalears.es</a>
    </section>

    <!-- <span *ngIf="siMostrar" class="top-middle">{{ actualUser }} - {{ actualRole }}</span> -->

    <section class="top-right">
      <app-select-language></app-select-language>
      <button mat-icon-button matTooltip="My profile" [matMenuTriggerFor]="userAccountMenu" class="userProfile">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
        <button mat-menu-item routerLink="profile">
          <mat-icon>person</mat-icon><span>My Account</span>
        </button>
        <button mat-menu-item routerLink="settings">
          <mat-icon>settings</mat-icon><span>Settings</span>
        </button>
        <button mat-menu-item routerLink="#">
          <mat-icon>help</mat-icon><span>Help</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="login">
          <mat-icon>exit_to_app</mat-icon>Logout
        </button>
        <mat-divider></mat-divider>
      </mat-menu>
    </section>
  </mat-toolbar>


  <mat-sidenav-container class="app-container">
    <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" class="app-sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="contacts" (click)="sidenav.toggle()">{{
          "contacts" | translate
          }}</a>
        <a mat-list-item routerLink="accounts" (click)="sidenav.toggle()">{{
          "accounts" | translate
          }}</a>
        <a mat-list-item routerLink="#" (click)="sidenav.toggle()">{{
          "ibrelleuProjects" | translate
          }}</a>
        <a mat-list-item routerLink="grantor-projects" (click)="sidenav.toggle()">{{
          "cedingProjects" | translate
          }}</a>
        <a mat-list-item routerLink="#" (click)="sidenav.toggle()">{{
          "entrepreneurs" | translate
          }}</a>
        <a mat-list-item routerLink="#" (click)="sidenav.toggle()">{{
          "processes" | translate
          }}</a>
        <a mat-list-item routerLink="#" (click)="sidenav.toggle()">{{
          "meetings" | translate
          }}</a>
        <a mat-list-item routerLink="success-stories" (click)="sidenav.toggle()">{{ "successStories" | translate }}</a>
        <a mat-list-item routerLink="#" (click)="sidenav.toggle()">{{
          "interests" | translate
          }}</a>
        <a mat-list-item routerLink="#" (click)="sidenav.toggle()">HelpDesk</a>
        <a mat-list-item routerLink="sign-up" (click)="sidenav.toggle()">{{ "requestForRegistration" |
          translate }}</a>
        <section class="mobileGrid">
          <section class="userInfoMobile">
            <button mat-icon-button matTooltip="My profile" [matMenuTriggerFor]="userAccountMenu">
              <mat-icon>account_circle</mat-icon>
            </button>
            <span *ngIf="siMostrar">{{ actualUser }} - {{ actualRole }}</span>
          </section>
          <app-select-language class="languageMobile"></app-select-language>
        </section>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</header>