<h1>{{'adForm' | translate}}</h1>
<form [formGroup]="adForm" (ngSubmit)="onSubmit()">
    <section>
        <mat-form-field>
            <mat-label>{{'grantorProject' |translate}}</mat-label>
            <mat-select formControlName="grantorProject">
                @for (grantorProject of grantorProjectList; track grantorProject) {
                <mat-option [value]="grantorProject.id">{{grantorProject.nomProjecte}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <section>
            <mat-label>{{'marketPlaceInterest' | translate}}</mat-label>
            <mat-radio-group formControlName="publicinmarketplace">
                <mat-radio-button value="1">Si</mat-radio-button>
                <mat-radio-button value="0">No</mat-radio-button>
            </mat-radio-group>
        </section>
        <mat-form-field>
            <mat-label>{{'adTitle' | translate}}</mat-label>
            <input matInput type="text" formControlName="title">
        </mat-form-field>
        <section>
            <mat-label>{{'advertisementstate' | translate}}</mat-label>
            <mat-radio-group formControlName="advertisementstate">
                <mat-radio-button value="publish">{{'publish' | translate}}</mat-radio-button>
                <mat-radio-button value="unpublish">{{'unpublish' | translate}}</mat-radio-button>
            </mat-radio-group>
        </section>
        <mat-form-field ngClass="textArea">
            <mat-label>{{'adDescription' | translate}}</mat-label>
            <textarea matInput rows="4" formControlName="description"></textarea>
        </mat-form-field>
        <section>
            <mat-label>{{'language' | translate}}</mat-label>
            <!-- Hago este cambio temporal. Veo la lógica de que 
             sean checkbox, pero en este momento, no tengo forma de
             se hagan los 3 a la vez para un anuncio con 3
             idiomas. Haré un radio-group con un solo form
             control-->
            <mat-radio-group formControlName="language">
                <mat-radio-button value="282310000">{{'cas' | translate}}</mat-radio-button>
                <mat-radio-button value="282310001">{{'cat' | translate}}</mat-radio-button>
                <mat-radio-button value="282310002">{{'en' | translate}}</mat-radio-button>
            </mat-radio-group>
            <!-- <span>
                <mat-checkbox value="282310000">{{'cas' | translate}}</mat-checkbox>
                <mat-checkbox value="282310001">{{'cat' | translate}}</mat-checkbox>
                <mat-checkbox value="282310002">{{'en' | translate}}</mat-checkbox>
            </span> -->
        </section>
        <section>
            <mat-checkbox formControlName="publicinweb">{{'webAdPublish' | translate}}</mat-checkbox>
        </section>
    </section>

    <section *ngIf="id">
        <app-document id="{{id}}" origin="advertisement"></app-document>
    </section>

    <div ngClass="centered-item">
        <button mat-raised-button color="primary" type="submit">Guardar</button>
    </div>
    <div ngClass="centered-item">
        <small ngClass="centered-item">
            Status: {{adForm.status}} | Valid: {{adForm.valid}} | Pristine: {{adForm.pristine}} | Touched:
            {{adForm.touched}} | Dirty: {{adForm.dirty}}
        </small>
    </div>
</form>