<h1>{{'advertisements' | translate}}</h1>

<section ngClass="createAdButton">
  <button mat-raised-button color="primary" [routerLink]="['/advertisement-detail']">{{'createAdvertisement' |
    translate}}</button>
</section>

<section>
  <mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      <mat-header-cell *matHeaderCellDef [ngSwitch]="col.key">
        <span *ngSwitchDefault><strong>{{ col.key | translate}}</strong></span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <section [ngSwitch]="col.type" *ngIf="!element.isEdit">
          <a *ngSwitchCase="'url'" ngClass="small-data url-link" [routerLink]="['/advertisement-detail', element.id]"
            title="Click to view & edit account detail">{{element[col.key]}}</a>
          <span *ngSwitchCase="'date'" ngClass="date-data">{{element[col.key] | date : "dd-MM-YYYY"}}</span>
          <span *ngSwitchCase="'language'" ngClass="small-data">
            @if (element[col.key] == "282310000") {
            {{'cas'| translate}}
            } @else if (element[col.key] == "282310001") {
            {{'cat'| translate}}
            } @else {
            {{'en'| translate}}
            }
          </span>
          <span *ngSwitchDefault ngClass="small-data">{{ element[col.key] | translate }}</span>
        </section>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsDisplayed"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsDisplayed;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]='[10, 15, 20, 50]' showFirstLastButtons></mat-paginator>
</section>