
<section>
  <h1>El mercat de compravenda de negocis de les Illes Balears</h1>
  <article>
    <p>Ibrelleu és el mercat de compravenda de petites i mitjanes empreses de les Illes Balears. És un model innovador d’emprenedoria i creixement empresarial que fomenta la continuïtat de les empreses que són viables econòmicament i cerquen un relleu en la propietat i direcció. </p>
    <p>La persona que emprèn agafa el testimoni en la gestió d’una empresa ja existent per continuar-ne l’activitat. Així, aporta a l’empresa una renovada línia d’actuació.</p>
    <p>L’objectiu d'Ibrelleu és evitar el tancament de negocis per mantenir-los en funcionament i per salvaguardar els llocs de treball.</p>
    <p>Ibrelleu ofereix assessorament personalitzat, neutral i gratuït a la part cedent i emprenedora per a l’elaboració del pla de cessió i d’empresa, així com assessorament durant tot el procés de transmissió de l’empresa.</p>
  </article>
  <article>
    <button mat-raised-button color="accent">Login</button>
  </article>
</section>
