<main>
  <section>
    <h1>{{'appName' | translate}}</h1>
    <h3>
      {{'homeTextp1' | translate}}
    </h3>
    <article>
      <p>{{'homeTextp2' | translate}}</p>
      <ol>
        <li>{{'homeTextp3' | translate}}</li>
        <li>{{'homeTextp31' | translate}}</li>
        <li>{{'homeTextp4' | translate}}</li>
      </ol>

    </article>
    <article>
      <button mat-raised-button color="accent" *ngIf="!sessionValid" (click)="loginUSER()">{{'login' |
        translate}}</button>
      <button mat-raised-button color="accent" *ngIf="sessionValid" (click)="logOutUSER()">{{'logout' |
        translate}}</button>
    </article>
  </section>
</main>