@use "../../../adr-colors";
@use "../../../utilities.scss";
main {
  padding: 1rem;
}

section {
  height: auto;
  width: 50vw;
  margin: auto;
  padding-top: 0;
  padding-bottom: 0;
}

h3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

p {
  margin-top: .5rem;
}

ol {
  padding: 2rem;
  list-style-position: inside;
}

article {
  margin-top: 1rem;
}

@media screen and (max-width: 992px) {
  section {
    width: 95vw;
  }
}