section {
  display: block;
  height: 85vh;
  width: 50vw;
  margin: auto;
  padding-top: 0;
  padding-bottom: 0;
}

p {
  margin-top: .5rem;
}

article {
  margin-top: 4rem;
}

@media screen and (max-width: 992px) {
  section {
    width: 95vw;
  }
}