<h1>{{'grantorProjectForm' | translate}}</h1>
<form [formGroup]="grantorProjectForm" (ngSubmit)="onSubmit()">
    <mat-tab-group animationDuration="500ms" mat-stretch-tabs="false" mat-align-tabs="center" dynamicHeight
        [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="{{'identificationAndManagement' | translate }}">
            <section>
                <mat-form-field>
                    <mat-label>{{'grantorProjectName' | translate}}</mat-label>
                    <input matInput formControlName="projectName">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'creationDateProject' | translate}}</mat-label>
                    <input type="date" matInput formControlName="entryDate">
                </mat-form-field>
                <section>
                    <mat-label>{{'sameContactAndOwner' | translate}}</mat-label>
                    <mat-radio-group formControlName="sameContactOwner">
                        <mat-radio-button value="1">Si</mat-radio-button>
                        <mat-radio-button value="0">No</mat-radio-button>
                    </mat-radio-group>
                </section>
                <mat-form-field>
                    <mat-label>{{'ownerName' | translate}}</mat-label>
                    <input matInput formControlName="ownerName">
                </mat-form-field>
                <!-- Si sameContactAndOwner es no  (value = 0), debe activarse este campo. Si es SI, el valor es el mismo que ownerName-->
                <mat-form-field>
                    <mat-label>{{'projectContactName' | translate}}</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'account' | translate}}</mat-label>
                    <input matInput formControlName="projectAccount">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'howKnowUs' | translate}}</mat-label>
                    <mat-select formControlName="howKnowUs">
                        <mat-option [value]="">---</mat-option>
                        @for (knowWay of knowWaysList; track knowWay) {
                        <mat-option [value]="knowWay.value">{{knowWay.label | translate}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'projectStatus' |translate}}</mat-label>
                    <mat-select formControlName="projectStatus">
                        <mat-option>---</mat-option>
                        <mat-option value="Active">{{'Active'| translate}}</mat-option>
                        <mat-option value="Cancelled">{{'Cancelled'| translate}}</mat-option>
                        <mat-option value="Standby">{{'Standby'| translate}}</mat-option>

                    </mat-select>
                </mat-form-field>
                <!-- Si el valor es '292310001' -> Cancelado, aparecería este campo que por defecto no aparece-->
                <mat-form-field>
                    <mat-label>{{'cancelReason' | translate}}</mat-label>
                    <mat-select formControlName="cancelReason">
                        <mat-option>---</mat-option>
                        <mat-option value="121370000">{{'closedBusiness'| translate}}</mat-option>
                        <mat-option value="121370001">{{'continueBusiness'| translate}}</mat-option>
                        <mat-option value="121370002">{{'notInteressedIBRelleu'| translate}}</mat-option>
                        <mat-option value="121370003">{{'ns/nc'| translate}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <section>
                    <mat-label>{{'delegation' | translate}}</mat-label>
                    <mat-radio-group formControlName="delegation">
                        <mat-radio-button value="Mallorca">Mallorca</mat-radio-button>
                        <mat-radio-button value="Menorca">Menorca</mat-radio-button>
                        <mat-radio-button value="Eivissa">{{'eivissa' | translate}}</mat-radio-button>
                        <mat-radio-button value="Formentera">Formentera</mat-radio-button>
                    </mat-radio-group>
                </section>
                <mat-form-field>
                    <mat-label>{{'consultant' | translate}}</mat-label>
                    <mat-select formControlName="consultant">
                        @for(consultant of consultantList; track consultant) {
                        <mat-option [value]="consultant">{{consultant}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="textArea">
                    <mat-label>{{'projectStatusObservations' | translate}}</mat-label>
                    <textarea matInput formControlName="projectStatusObservations"></textarea>
                </mat-form-field>
                <section>
                    <mat-label>{{'activeBusiness' | translate}}</mat-label>
                    <mat-radio-group formControlName="activeBusiness">
                        <mat-radio-button value="1">Si</mat-radio-button>
                        <mat-radio-button value="0">No</mat-radio-button>
                    </mat-radio-group>
                </section>

                <!-- Si activeBusiness = 0, debe aparecer este campo-->
                <section>
                    <mat-label>{{'localTypology' | translate}}</mat-label>
                    <mat-radio-group formControlName="localTypology">
                        <mat-radio-button value="121370000">{{'paradaMercat' | translate}}</mat-radio-button>
                        <mat-radio-button value="121370001">{{'establecimentTitularitatMunicipal' |
                            translate}}</mat-radio-button>
                        <mat-radio-button value="121370002">{{'concessioBarEsportives' | translate}}</mat-radio-button>
                    </mat-radio-group>
                </section>
                <section>
                    <mat-label>{{'cessionType' | translate }}</mat-label>
                    <mat-radio-group formControlName="transferType">
                        <mat-radio-button value="282310000">{{'workerTransmission' | translate}}</mat-radio-button>
                        <mat-radio-button value="282310001">{{'thirdTransmission' | translate}}</mat-radio-button>
                        <mat-radio-button value="282310002">{{'familiarSuccession' | translate}}</mat-radio-button>
                    </mat-radio-group>
                </section>
                <mat-form-field>
                    <mat-label>{{'activityStartYear' | translate}}</mat-label>
                    <input matInput maxlength="4" formControlName="startYear">
                </mat-form-field>
            </section>
        </mat-tab>
        <mat-tab label="{{'localizationAndInstalations' | translate}}">
            <section>
                <mat-checkbox formControlName="activitySameLocationAccount">{{'cessionActivitySameLoc' |
                    translate}}</mat-checkbox>
                <section>
                    <mat-label>{{'municipalMarket' | translate}}</mat-label>
                    <mat-radio-group formControlName="municipalMarketUbication">
                        <mat-radio-button value="1">Si</mat-radio-button>
                        <mat-radio-button value="0">No</mat-radio-button>
                    </mat-radio-group>
                </section>
                <section>
                    <mat-label>{{'municipalInstalationType' | translate}}</mat-label>
                    <mat-radio-group formControlName="municipalFacilityType">
                        <mat-radio-button value="121370000">{{'pool' | translate}}</mat-radio-button>
                        <mat-radio-button value="121370001">{{'pavillion' | translate}}</mat-radio-button>
                        <mat-radio-button value="121370002">{{'others' | translate}}</mat-radio-button>
                    </mat-radio-group>
                </section>
                <mat-form-field>
                    <mat-label>{{'instalationName' | translate}}</mat-label>
                    <input matInput formControlName="facilityName">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'instalationTypeSpecific' | translate}}</mat-label>
                    <input matInput formControlName="specifyTypeFacility">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'address' | translate}}</mat-label>
                    <input matInput formControlName="address">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'district' | translate}}</mat-label>
                    <input matInput formControlName="district">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'zipCode' | translate}}</mat-label>
                    <input matInput maxlength="5" minlength="5" [matAutocomplete]="auto" formControlName="zipCode">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        @for (option of filteredOptions | async; track option) {
                        <mat-option [value]="option" (click)="selectedValue($event)">{{option.zipCode}}
                            {{option.town}}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'town' | translate}}</mat-label>
                    <input matInput formControlName="localizationCity">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'municipality' | translate}}</mat-label>
                    <input matInput readonly="readonly" formControlName="councilCity">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'island' | translate}}</mat-label>
                    <input matInput readonly formControlName="localizationCCAA">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'country' | translate}}</mat-label>
                    <input matInput readonly formControlName="localizationCountry">
                </mat-form-field>
                <mat-checkbox formControlName="noDifusion">{{'noDifusion' | translate}}</mat-checkbox>
                <section>
                    <mat-label>{{'propertyStatus' | translate}}</mat-label>
                    <mat-radio-group formControlName="propertyStatus">
                        @for (status of propertyStatusList; track status) {
                        <mat-radio-button [value]="status.value">{{status.label |
                            translate}}</mat-radio-button>
                        }
                    </mat-radio-group>
                </section>
                <mat-form-field>
                    <mat-label>{{'localSize' |translate}}</mat-label>
                    <input matInput type="number" placeholder="Metros quadrats del local llogat o en propietat"
                        formControlName="localSize">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'localContractConditions' |translate}}</mat-label>
                    <textarea matInput placeholder="Write more information about the property or renting contracts"
                        formControlName="localContractConditions"></textarea>
                </mat-form-field>
                <section>
                    <mat-label>{{'localSubjectToSell' | translate}}</mat-label>
                    <mat-radio-group formControlName="localSellSubject">
                        <mat-radio-button value="1">Si</mat-radio-button>
                        <mat-radio-button value="0">No</mat-radio-button>
                    </mat-radio-group>
                </section>
                <mat-form-field>
                    <mat-label>{{'moreLocalSpecifications' |translate}}</mat-label>
                    <textarea matInput placeholder="Write more information about the property or renting"
                        formControlName="anotherLocalSpecifications"></textarea>
                </mat-form-field>
            </section>
        </mat-tab>
        <mat-tab label="{{'cessionDetailsAndReason' | translate}}">
            <section>
                <mat-form-field>
                    <mat-label>{{'cessionReason' | translate}}</mat-label>
                    <mat-select formControlName="cessionReason">
                        @for (cessionReason of cessionReasonsList; track cessionReason) {
                        <mat-option [value]="cessionReason.value">{{cessionReason.label | translate}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'maxDateCession' | translate}}</mat-label>
                    <input matInput type="date" formControlName="lastDateCession">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'cessionReasonDescription' | translate}}</mat-label>
                    <textarea matInput formControlName="cessionReasonDescription"></textarea>
                </mat-form-field>
                <mat-checkbox formControlName="partnerAutorization">{{'cessionAutorization' | translate}}</mat-checkbox>
                <mat-form-field>
                    <mat-label>{{'transferPriceInterval' | translate}}</mat-label>
                    <mat-select formControlName="cessionPriceInterval">
                        @for (interval of intervalList; track interval) {
                        <mat-option [value]="interval.value">{{interval.label}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <section>
                    <mat-label>{{'cessionPlan' | translate}}</mat-label>
                    <mat-radio-group formControlName="cessionPlan">
                        <mat-radio-button value="0">No</mat-radio-button>
                        <mat-radio-button value="1">Si</mat-radio-button>
                    </mat-radio-group>
                </section>
                <section>
                    <mat-label>{{'variationPrice' | translate}}</mat-label>
                    <mat-radio-group formControlName="variationPrice">
                        <mat-radio-button value="1">{{'puja' | translate}}</mat-radio-button>
                        <mat-radio-button value="0">{{'baixa' | translate}}</mat-radio-button>
                    </mat-radio-group>
                </section>
                <mat-form-field>
                    <mat-label>{{'variationDate' | translate}}</mat-label>
                    <input matInput type="date" formControlName="dateVariation">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'transferPrice' | translate}}</mat-label>
                    <input matInput type="number" formControlName="cessionPrice">
                </mat-form-field>
                <section>
                    <mat-label>{{'ibRelleuValoration' | translate}}</mat-label>
                    <mat-radio-group formControlName="ibrelleuValorationInterest">
                        <mat-radio-button value="0">No</mat-radio-button>
                        <mat-radio-button value="1">Si</mat-radio-button>
                    </mat-radio-group>
                </section>
                <!-- sI ibrelleuValorationInterest es 1 (si), aparecen estos campos-->
                <mat-form-field>
                    <mat-label>{{'valorationAspects' | translate}}</mat-label>
                    <textarea matInput formControlName="valorationAspects"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'lastFiscalYearValoration' | translate}}</mat-label>
                    <input matInput type="number" formControlName="lastFiscalYearValoration">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'valorationStatus' | translate}}</mat-label>
                    <mat-select formControlName="valorationStatus">
                        <mat-option value="121370000">{{'pendent' | translate}}</mat-option>
                        <mat-option value="121370001">{{'programada' | translate}}</mat-option>
                        <mat-option value="121370002">{{'realitzada' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <section>
                    <mat-label>{{'otherValoration' | translate}}</mat-label>
                    <mat-radio-group formControlName="externalValoration">
                        <mat-radio-button value="0">No</mat-radio-button>
                        <mat-radio-button value="1">Si</mat-radio-button>
                    </mat-radio-group>
                </section>
                <mat-form-field>
                    <mat-label>{{'valorationDescription' | translate}}</mat-label>
                    <textarea matInput formControlName="metodsValorationExternalDescription"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'cessionOfertDetails' | translate}}</mat-label>
                    <mat-select multiple formControlName="cessionOfferDetails">
                        <mat-option value="121370000">{{'fonsComerç' | translate}}</mat-option>
                        <mat-option value="121370001">{{'elementsActiu' | translate}}</mat-option>
                        <mat-option value="121370002">{{'carteraClients' | translate}}</mat-option>
                        <mat-option value="121370003">{{'stock' | translate}}</mat-option>
                        <mat-option value="121370004">{{'societat' | translate}}</mat-option>
                        <mat-option value="121370005">{{'activitat' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'cessionOfertDetailsDescription' | translate}}</mat-label>
                    <textarea matInput formControlName="cessionOfferDetailsDescription"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'externalProfessionalName' | translate}}</mat-label>
                    <input matInput type="text" formControlName="externalProfessionalName">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'cessionSteps' | translate}}</mat-label>
                    <mat-select multiple formControlName="cessionStepsDone">
                        <mat-option value="121370000">{{'publicatAnunci' | translate}}</mat-option>
                        <mat-option value="121370001">{{'ofertTreballadors' | translate}}</mat-option>
                        <mat-option value="121370002">{{'conversesCedirTreballadors' | translate}}</mat-option>
                        <mat-option value="121370003">{{'conversesCedirFamiliar' | translate}}</mat-option>
                        <mat-option value="121370004">{{'contacteInteresada' | translate}}</mat-option>
                        <mat-option value="121370005">{{'negociacionsInteresada' | translate}}</mat-option>
                        <mat-option value="121370006">{{'tramitsGestoria' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'externalProfessionalMail' | translate}}</mat-label>
                    <input matInput type="email" formControlName="externalProfessionalMail">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'externalProfessionalPhone' | translate}}</mat-label>
                    <input matInput type="tel" formControlName="externalProfessionalPhone">
                </mat-form-field>
                <section>
                    <mat-label>{{'contactOtherIBRelleu' | translate}}</mat-label>
                    <mat-radio-group formControlName="externalIBRelleuContact">
                        <mat-radio-button value="0">No</mat-radio-button>
                        <mat-radio-button value="1">Si</mat-radio-button>
                    </mat-radio-group>
                </section>
                <mat-form-field>
                    <mat-label>{{'desiredIBRelleuProfile' | translate}}</mat-label>
                    <input matInput type="text" formControlName="desiredIBRelleuProfile">
                </mat-form-field>
            </section>
        </mat-tab>
        <mat-tab label=" {{'activityAndResultsDetail' | translate}}">
            <section>
                <mat-checkbox formControlName="activityCessionSameAccount">{{'activityCessionSameAccount' |
                    translate}}</mat-checkbox>
                <mat-form-field>
                    <mat-label>{{'sector' | translate}}</mat-label>
                    <mat-select multiple placeholder="Choose multiple options" formControlName="mainSector">
                        @for (sectorItem of sectorList; track sectorItem) {
                        <mat-option [value]="sectorItem.value">{{sectorItem.label | translate}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'activityType' | translate}}</mat-label>
                    <mat-select multiple placeholder="Choose multiple options" formControlName="mainActivity">
                        @for (activityItem of activityList; track activityItem) {
                        <mat-option [value]="activityItem.value">{{activityItem.label | translate}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <section>
                    <mat-label>{{'paradaMercatNoSedentaria' | translate}}</mat-label>
                    <mat-radio-group formControlName="paradaMarketNoSedentary">
                        <mat-radio-button value="0">No</mat-radio-button>
                        <mat-radio-button value="1">Si</mat-radio-button>
                    </mat-radio-group>
                </section>
                <mat-form-field>
                    <mat-label>{{'cessionActivityDescription' | translate}}</mat-label>
                    <textarea matInput formControlName="cessionActivityDescription"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'companyCarrerAndStrategy' | translate}}</mat-label>
                    <textarea matInput formControlName="companyCarrerAndStrategy"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'marketDescription' | translate}}</mat-label>
                    <textarea matInput placeholder="Write a description about the market"
                        formControlName="marketDescription"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'typologyClients' | translate}}</mat-label>
                    <mat-select multiple placeholder="Choose an option" formControlName="clientsTypology">
                        <mat-option value="B2A">B2A</mat-option>
                        <mat-option value="B2B">B2B</mat-option>
                        <mat-option value="B2C">B2C</mat-option>
                        <mat-option value="B2E">B2E</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'customersDescription' | translate}}</mat-label>
                    <textarea matInput placeholder="Write a description about the target audience"
                        formControlName="clientsDescription"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'suppliersDescription' | translate}}</mat-label>
                    <textarea matInput placeholder="Write a description about the suppliers"
                        formControlName="suppliersDescription"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'competencyDescription' | translate}}</mat-label>
                    <textarea matInput placeholder="Write a description about the company's competition"
                        formControlName="competencyDescription"></textarea>
                </mat-form-field>
                <mat-checkbox formControlName="productCheck">{{'productCheck'
                    | translate}}</mat-checkbox>
                <mat-checkbox formControlName="brandCheck">{{'brandCheck'
                    | translate}}</mat-checkbox>
                <mat-form-field>
                    <mat-label>{{'ownProductDescription' | translate}}</mat-label>
                    <textarea matInput placeholder="Write a description about the company product"
                        formControlName="productServiceDescription"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'brandNames' | translate}}</mat-label>
                    <textarea matInput placeholder="Write about the brands names"
                        formControlName="brandsNames"></textarea>
                </mat-form-field>
                <section>
                    <mat-label>{{'renovationTrademarkName' | translate}}</mat-label>
                    <mat-radio-group formControlNAme="renovationTrademarkName">
                        <mat-radio-button value="0">No</mat-radio-button>
                        <mat-radio-button value="1">Si</mat-radio-button>
                    </mat-radio-group>
                </section>
                <mat-checkbox formControlName="stockCheck">{{'stockCheck' |
                    translate}}</mat-checkbox>
                <mat-checkbox formControlName="auditoryCheck">{{'auditoryCheck' | translate}}</mat-checkbox>
                <mat-checkbox formControlName="activityLicenseCheck">{{'licenseCheck' | translate}}</mat-checkbox>
                <mat-form-field>
                    <mat-label>{{'companyAdvantages' |translate}}</mat-label>
                    <mat-select multiple formControlName="companyAdvantages">
                        <mat-option value="121370000">{{'lowRiskAdvantage' |translate}}</mat-option>
                        <mat-option value="121370001">{{'equipamentAdvantage' |translate}}</mat-option>
                        <mat-option value="121370002">{{'businessAdvantage' |translate}}</mat-option>
                        <mat-option value="121370003">{{'brandAdvantage' |translate}}</mat-option>
                        <mat-option value="121370004">{{'diverseClientWalletAdvantage' |translate}}</mat-option>
                        <mat-option value="121370005">{{'clientWalletAdvantage' |translate}}</mat-option>
                        <mat-option value="121370006">{{'infrastructureAdvantage' |translate}}</mat-option>
                        <mat-option value="121370007">{{'futureProjectionAdvantage' |translate}}</mat-option>
                        <mat-option value="121370008">{{'businessStrategyAdvantage' |translate}}</mat-option>
                        <mat-option value="121370009">{{'activityLicenseAdvantage' |translate}}</mat-option>
                        <mat-option value="121370010">{{'ubicationAdvantage' |translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'companyDisadvantages' |translate}}</mat-label>
                    <mat-select multiple formControlName="companyDisadvantages">
                        <mat-option value="121370000">{{'ancientProcessAndStrategyDisadvantage'
                            |translate}}</mat-option>
                        <mat-option value="121370001">{{'searchReenterpriseDisadvantage'
                            |translate}}</mat-option>
                        <mat-option value="121370002">{{'workPasivesDisadvantage' |translate}}</mat-option>
                        <mat-option value="121370003">{{'actualEconomSituationDisadvantage'
                            |translate}}</mat-option>
                        <mat-option value="121370004">{{'highCompetitionDisadvantage' |translate}}</mat-option>
                        <mat-option value="121370005">{{'sectorStructureDisadvantage' |translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-checkbox formControlName="exportCheck">{{'exportCheck' |
                    translate}}</mat-checkbox>
                <mat-form-field>
                    <mat-label>{{'export/importAmbit' | translate}}</mat-label>
                    <mat-select multiple formControlName="exportGeograficAmbit">
                        <mat-option value="121370000">{{'Europa' | translate}}</mat-option>
                        <mat-option value="121370001">{{'Asia' | translate}}</mat-option>
                        <mat-option value="121370002">{{'África' | translate}}</mat-option>
                        <mat-option value="121370003">{{'América del Sur' | translate}}</mat-option>
                        <mat-option value="121370004">{{'América Central' | translate}}</mat-option>
                        <mat-option value="121370005">{{'América del Norte' | translate}}</mat-option>
                        <mat-option value="121370006">{{'Oceanía' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'exportDescription' | translate}}</mat-label>
                    <textarea matInput placeholder="Write a description about the export information"
                        formControlName="exportDescription"></textarea>
                </mat-form-field>
                <mat-checkbox formControlName="importCheck">{{'importCheck' |
                    translate}}</mat-checkbox>
                <mat-form-field>
                    <mat-label>{{'export/importAmbit' | translate}}</mat-label>
                    <mat-select multiple formControlName="importGeograficAmbit">
                        <mat-option value="121370000">{{'Europa' | translate}}</mat-option>
                        <mat-option value="121370001">{{'Asia' | translate}}</mat-option>
                        <mat-option value="121370002">{{'África' | translate}}</mat-option>
                        <mat-option value="121370003">{{'América del Sur' | translate}}</mat-option>
                        <mat-option value="121370004">{{'América Central' | translate}}</mat-option>
                        <mat-option value="121370005">{{'América del Norte' | translate}}</mat-option>
                        <mat-option value="121370006">{{'Oceanía' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'importDescription' | translate}}</mat-label>
                    <textarea matInput placeholder="Write a description about the import information"
                        formControlName="importDescription"></textarea>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{'fullTimeWorkers' |translate}}</mat-label>
                    <input matInput type="number" min="0" formControlName="fullTimeWorkers">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'partialTimeWorkers' |translate}}</mat-label>
                    <input matInput type="number" min="0" formControlName="partialTimeWorkers">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'totalWorkers' |translate}}</mat-label>
                    <input matInput type="number" formControlName="totalWorkers">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'ancientComments' |translate}}</mat-label>
                    <textarea matInput placeholder="Write a description about the workers carrer in the company"
                        formControlName="workersAntiquity"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'salaryComments' |translate}}</mat-label>
                    <textarea matInput placeholder="Write a description about the workers salary"
                        formControlName="salaryComments"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'collaborationComments' |translate}}</mat-label>
                    <textarea matInput placeholder="Write a description about the company's colaboration"
                        formControlName="collaborationComments"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'workersObservations' |translate}}</mat-label>
                    <textarea matInput formControlName="workersObservations"></textarea>
                </mat-form-field>
                <section>
                    <mat-label>{{'stayWorkersAfterCession' |translate}}</mat-label>
                    <mat-radio-group formControlName="stayWorkersAfterCession">
                        <mat-radio-button value="0">No</mat-radio-button>
                        <mat-radio-button value="1">Si</mat-radio-button>
                    </mat-radio-group>
                </section>
                <section>
                    <mat-label>{{'workersKnowSituation' |translate}}</mat-label>
                    <mat-radio-group formControlName="workersKnowSituation">
                        <mat-radio-button value="0">No</mat-radio-button>
                        <mat-radio-button value="1">Si</mat-radio-button>
                    </mat-radio-group>
                </section>
            </section>
        </mat-tab>
        <mat-tab label="{{'results' | translate}}">
            <section>
                <mat-form-field>
                    <mat-label>{{'companyFacturation' | translate}} {{'lastFiscalYear' | translate}}</mat-label>
                    <input matInput type="number" placeholder="2 Decimal: xxxx.xx"
                        formControlName="lastFiscalYearFacturation">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'companyResults' | translate}} {{'lastFiscalYear' | translate}}</mat-label>
                    <input matInput type="number" placeholder="2 Decimal: xxxx.xx"
                        formControlName="lastFiscalYearResults">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'resultsComments' | translate}} {{'lastFiscalYear' | translate}}</mat-label>
                    <textarea matInput placeholder="Write more information about comany's last results"
                        formControlName="commentsLastFiscalYearResults"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>EBITDA {{'lastFiscalYear' | translate}}</mat-label>
                    <input matInput type="number" placeholder="2 Decimal: xxxx.xx"
                        formControlName="LastFiscalYearEBITDA">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'companyFacturation' | translate}} {{'fiscalYear-1' | translate}}</mat-label>
                    <input matInput type="number" placeholder="2 Decimal: xxxx.xx"
                        formControlName="oneYearAgoFacturation">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'companyResults' | translate}} {{'fiscalYear-1' | translate}}</mat-label>
                    <input matInput type="number" placeholder="2 Decimal: xxxx.xx" formControlName="oneYearAgoResults">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'resultsComments' | translate}} {{'fiscalYear-1' | translate}}</mat-label>
                    <textarea matInput placeholder="Write more information about comany's results"
                        formControlName="commentsOneYearAgoResults"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>EBITDA {{'fiscalYear-1' | translate}}</mat-label>
                    <input matInput type="number" placeholder="2 Decimal: xxxx.xx" formControlName="oneYearAgoEBITDA">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'companyFacturation' | translate}} {{'fiscalYear-2' | translate}}</mat-label>
                    <input matInput type="number" placeholder="2 Decimal: xxxx.xx"
                        formControlName="twoYearsAgoFacturation">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'companyResults' | translate}} {{'fiscalYear-2' | translate}}</mat-label>
                    <input matInput type="number" placeholder="2 Decimal: xxxx.xx" formControlName="twoYearsAgoResults">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'resultsComments' | translate}} {{'fiscalYear-2' | translate}}</mat-label>
                    <textarea matInput placeholder="Write more information about comany's results"
                        formControlName="commentsTwoYearsAgoResults"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>EBITDA {{'fiscalYear-2' | translate}}</mat-label>
                    <input matInput type="number" placeholder="2 Decimal: xxxx.xx" formControlName="twoYearsAgoEBITDA">
                </mat-form-field>
            </section>
        </mat-tab>
        <mat-tab label="{{'ad' | translate}}">
            <section></section>
        </mat-tab>
        <mat-tab label="{{'meetings' | translate}}">
            <section></section>
        </mat-tab>
        <mat-tab label="{{'situationBalance' | translate}}">
            <section></section>
        </mat-tab>
        <mat-tab label="{{'resultsAccount' | translate}}">
            <section></section>
        </mat-tab>
        <mat-tab label="{{'documentation' | translate}}">
            <section>
                <mat-checkbox formControlName="documentationActivityLicense">{{'activityLicense' |
                    translate}}</mat-checkbox>
                <mat-checkbox formControlName="documentation190IRPF">{{'190IRPF' | translate}}</mat-checkbox>
                <mat-checkbox formControlName="documentationRentContract">{{'rentContract' | translate}}</mat-checkbox>
                <mat-checkbox formControlName="documentationRNTorRLC">{{'RNT/RLC' | translate}}</mat-checkbox>
                <mat-checkbox formControlName="documentation347CustomersSuppliers">{{'347customersSuppliers' |
                    translate}}</mat-checkbox>
                <mat-checkbox formControlName="documentation130or131IRPF">{{'130/131IRPF' | translate}}</mat-checkbox>
                <mat-checkbox formControlName="documentationActivitAccountability">{{'activityAccountability' |
                    translate}}</mat-checkbox>
                <mat-checkbox formControlName="documentationAnualIVA390">{{'anualIVA' | translate}}</mat-checkbox>
                <mat-checkbox formControlName="documentation100IRPF">{{'100IRPF' | translate}}</mat-checkbox>
                <mat-checkbox formControlName="documentationLostGains">{{'lostGainDocs' | translate}}</mat-checkbox>
                <mat-checkbox formControlName="documentationCopyCifCompany">{{'copyCifCompany' |
                    translate}}</mat-checkbox>
                <mat-checkbox formControlName="documentationConstitutionScriptures">{{'constitutionScriptures' |
                    translate}}</mat-checkbox>
                <mat-checkbox formControlName="documentationSocietyTax200">{{'societyTax200' |
                    translate}}</mat-checkbox>
                <mat-checkbox formControlName="documentationSocietyScriptures">{{'societyScriptures' |
                    translate}}</mat-checkbox>
                <mat-checkbox formControlName="documentationSituationBalance">{{'situationBalanceDocs' |
                    translate}}</mat-checkbox>
                <mat-checkbox formControlName="documentationAdministrativeConcession">{{'administrativeConcessionDocs' |
                    translate}}</mat-checkbox>

                <mat-form-field class="textArea">
                    <mat-label>{{'docsObservation' | translate}}</mat-label>
                    <textarea matInput rows="3" formControlName="documentationObservations"></textarea>
                </mat-form-field>

                <app-document id="{{id}}" origin="grantorproject"></app-document>

            </section>
        </mat-tab>
    </mat-tab-group>
    <div ngClass="centered-item">
        <button mat-raised-button color="primary" type="submit">Guardar</button>
    </div>
    <div ngClass="centered-item">
        <small ngClass="centered-item">
            Status: {{grantorProjectForm.status}} | Valid: {{grantorProjectForm.valid}} | Pristine:
            {{grantorProjectForm.pristine}} | Touched: {{grantorProjectForm.touched}} | Dirty:
            {{grantorProjectForm.dirty}}
        </small>
    </div>
</form>