<section>
    <section>
      <input type="file" (change)="onFileSelected($event)">
      <button (click)="uploadDocuments()" mat-raised-button color="primary">Upload</button>
    </section>

    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
    <mat-table [dataSource]="selectedFiles" ngClass="mat-elevation-z8 tablecontainer">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> File Name </mat-header-cell>
        <mat-cell *matCellDef="let file"> {{ file.name }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="size">
        <mat-header-cell *matHeaderCellDef> Size </mat-header-cell>
        <mat-cell *matCellDef="let file"> {{ file.size | number }} bytes </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="['name', 'size']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['name', 'size'];"></mat-row>
    </mat-table>

    <h3>Uploaded Documents</h3>
    <mat-table [dataSource]="documents" ngClass="mat-elevation-z8 tablecontainer">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> File Name </mat-header-cell>
        <mat-cell *matCellDef="let document"> {{ document.name }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let document">
          <button (click)="viewDocument(document.url)" mat-raised-button>View</button>
          <button (click)="deleteDocument(document.name)" mat-raised-button color="warn">Delete</button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="['name', 'actions']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['name', 'actions'];"></mat-row>
    </mat-table>
  </section>
  