<h1>Casos de éxito</h1>
<form [formGroup]="theForm" (ngSubmit)="onSubmit()">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" dynamicHeight [(selectedIndex)]="selectedIndex"
    (selectedTabChange)="onTabChange($event)">
    <mat-tab label="{{'generalData' | translate}}">
      <section>
        <mat-form-field>
          <mat-label>{{'successStoriesCode' | translate}}</mat-label>
          <input matInput formControlName="id" aria-label="id" readonly>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'caseName' | translate}}</mat-label>
          <input matInput formControlName="nombre" aria-label="Nombre">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'ibRelleuTypology' | translate}}</mat-label>
          <mat-select formControlName="ibRelleuTypology">
            @for (ibRelleuTypology of ibRelleuTypologyList; track ibRelleuTypology) {
            <mat-option [value]="ibRelleuTypology.value">{{ibRelleuTypology.label | translate}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'successStoryProcess' | translate}}</mat-label>
          <input matInput formControlName="process" aria-label="Nombre">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'ibRelleuProject' | translate}}</mat-label>
          <input matInput formControlName="ibRelleuProject">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'grantorProject' | translate}}</mat-label>
          <input matInput formControlName="cedentProject">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'mainSector' | translate}}</mat-label>
          <mat-select formControlName="mainSector">
            <mat-option [value]="" (click)="activateAndFilterActivities($event)">---</mat-option>
            @for (sector of sectorList; track sector) {
            <mat-option [value]="sector.value" (click)="activateAndFilterActivities($event)">{{sector.label |
              translate}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'mainActivity' | translate }}</mat-label>
          <mat-select formControlName="mainActivity">
            <mat-option [value]="">---</mat-option>
            @for (activity of activityList; track activity) {
            <mat-option [value]="activity.value">{{activity.label | translate}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'zipCode' | translate }}</mat-label>
          <input matInput formControlName="zipCode" maxlength="5" minlength="5" [matAutocomplete]="auto" />
          <small *ngIf="theForm.get('zipCode').errors">min length: 5 digits</small>

          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            @for (option of filteredOptions | async; track option) {
            <mat-option (click)="selectedValue($event)" [value]="option">{{option.zipCode}} {{option.town}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'localizationCity' | translate}}</mat-label>
          <input matInput formControlName="localizationCity" readonly="readonly">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'councilCity' | translate}}</mat-label>
          <input matInput formControlName="councilCity" readonly="readonly">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'localizationCCAA' | translate}}</mat-label>
          <input matInput formControlName="localizationCCAA" readonly="readonly">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'consultor' | translate}}</mat-label>
          <mat-select formControlName="consultor">
            @for(consultant of consultantList; track consultant) {
            <mat-option [value]="consultant">{{consultant}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'delegationOption' | translate }}</mat-label>
          <mat-select formControlName="delegation">
            @for (delegation of delegationList; track delegation) {
            <mat-option [value]="delegation">{{delegation}}</mat-option>
            }
          </mat-select>

        </mat-form-field>
      </section>
    </mat-tab>

    <mat-tab label="{{'acord' | translate}}">
      <section>
        <mat-form-field>
          <mat-label>{{'transferDate' | translate}}</mat-label>
          <input matInput formControlName="transferDate" type="date" aria-label="transferDate">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'contractTypology' | translate}}</mat-label>
          <mat-select formControlName="contractTypology">
            @for(contractTypology of contractTypologyList; track contractTypology) {
            <mat-option [value]="contractTypology.value">{{contractTypology.label | translate}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'transferPrice' | translate}}</mat-label>
          <input matInput formControlName="transferPrice" type="number" aria-label="transferPrice">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'propertyValue' | translate}}</mat-label>
          <input matInput formControlName="propertyValue" type="number">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'selledProperty' | translate}}</mat-label>
          <mat-select formControlName="propertySelled">
            <mat-option value="1">SI</mat-option>
            <mat-option value="0">NO</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'paymentForm' | translate}}</mat-label>
          <mat-select formControlName="paymentType">
            @for(paymentType of paymentTypeList; track paymentType) {
            <mat-option [value]="paymentType.value">{{paymentType.label}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'paymentTypology' | translate}}</mat-label>
          <mat-select formControlName="paymentTypology">
            @for(paymentTypology of paymentTypologyList; track paymentTypology) {
            <mat-option [value]="paymentTypology.value">{{paymentTypology.label}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'hiringWorkersNumber' | translate}}</mat-label>
          <input matInput type="number" formControlName="hiringWorkersNumber" min="0"
            (keyup)="calculateTotalWorkers($event)">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'savedWorkersNumber' | translate}}</mat-label>
          <input matInput type="number" formControlName="savedWorkersNumber" min="0"
            (keyup)="calculateTotalWorkers($event)">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'entrepreneurWorkersNumber' | translate}}</mat-label>
          <input matInput type="number" formControlName="ibRelleuWorkersNumber" min="0"
            (keyup)="calculateTotalWorkers($event)">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'totalWorkersNumber' | translate}}</mat-label>
          <input matInput type="number" formControlName="totalWorkers">
        </mat-form-field>
        <mat-form-field class="textArea">
          <mat-label>{{'acordMark' | translate}}</mat-label>
          <textarea matInput formControlName="agreement" rows="10"></textarea>
        </mat-form-field>
      </section>
    </mat-tab>

    <mat-tab label="Dades projecte IbRelleu">
      <section>
        <mat-form-field>
          <mat-label>Nom i cognoms de la persona IbRelleu</mat-label>
          <input matInput formControlName="totalNameIbRelleu">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Telèfon de la persona IbRelleu o establiment comercial</mat-label>
          <input matInput formControlName="phoneIbRelleu" minlength="9" maxlength="9">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Correu electrònic de la persona IbRelleu</mat-label>
          <input matInput type="email" formControlName="mailIbRelleu">
        </mat-form-field>
        <mat-form-field>
          <mat-label>DNI/NIE persona IbRelleu</mat-label>
          <input matInput formControlName="nifIbRelleu" maxlength="9">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Forma jurídica de la persona IbRelleu</mat-label>
          <mat-select formControlName="legalFormIbRelleu">
            @for(legalForm of legalFormList; track legalForm) {
            <mat-option [value]="legalForm.value">{{legalForm.label}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>NIF empresa IbRelleu</mat-label>
          <input matInput formControlName="nifCompanyIbRelleu" maxlength="9">
        </mat-form-field>
      </section>
    </mat-tab>

    <mat-tab label="Testimonial">
      <section>
        <mat-form-field>
          <mat-label>Testimonial web</mat-label>
          <mat-select formControlName="testimonialWeb">
            <mat-option [value]="121370000">Sol·licitud</mat-option>
            <mat-option [value]="121370001">Publicat</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="textArea">
          <mat-label>Observacions testimonial</mat-label>
          <textarea matInput formControlName="testimonialObservations" rows="5"></textarea>
        </mat-form-field>
      </section>
    </mat-tab>

    <mat-tab label="Seguiment">
      <section>
        <mat-form-field class="textArea">
          <mat-label>Resum del servei ofert</mat-label>
          <textarea matInput formControlName="offeredServiceSummary" rows="10"></textarea>
        </mat-form-field>
      </section>
    </mat-tab>

    <mat-tab label="Documentació">
      <app-file-upload id="{{id}}" origin="successstories"></app-file-upload>
    </mat-tab>
  </mat-tab-group>
  <div ngClass="centered-item">
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </div>
  <div ngClass="centered-item">
    <small ngClass="centered-item">
      Status: {{theForm.status}} | Valid: {{theForm.valid}} | Pristine: {{theForm.pristine}} | Touched:
      {{theForm.touched}} | Dirty: {{theForm.dirty}}
    </small>
  </div>
</form>