<h1>{{'successStoriesForm' | translate}}</h1>
<form [formGroup]="storyForm" (ngSubmit)="onSubmit()">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" dynamicHeight [(selectedIndex)]="selectedIndex"
    (selectedTabChange)="onTabChange($event)">
    <mat-tab label="{{'generalData' | translate}}">
      <section>
        <mat-form-field>
          <mat-label>{{'caseName' | translate}}</mat-label>
          <input matInput formControlName="caseName" aria-label="Nombre">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'ibRelleuTypology' | translate}}</mat-label>
          <mat-select formControlName="ibrelleuTypology">
            <mat-option value="282310000">{{'Asesoramiento integral en todo el proceso' | translate}}</mat-option>
            <mat-option value="282310001">{{'Presentación de las partes y seguimiento' | translate}}</mat-option>
            <mat-option value="282310002">{{'Asesoramiento a la parte cedente' | translate}}</mat-option>
            <mat-option value="282310003">{{'Asesoramiento a la parte emprendedora' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'successStoryProcess' | translate}}</mat-label>
          <input matInput formControlName="process">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'ibRelleuProject' | translate}}</mat-label>
          <input matInput formControlName="ibrelleuProject">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'grantorProject' | translate}}</mat-label>
          <input matInput formControlName="grantorProject">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{'mainSector' | translate}}</mat-label>
          <mat-select multiple formControlName="mainSector">
            @for (sector of sectorList; track sector) {
            <mat-option [value]="sector.value">{{sector.label |
              translate}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'mainActivity' | translate }}</mat-label>
          <mat-select multiple formControlName="mainActivity">
            @for (activity of activityList; track activity) {
            <mat-option [value]="activity.value">{{activity.label | translate}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'zipCode' | translate }}</mat-label>
          <input matInput formControlName="zipCode" maxlength="5" minlength="5" [matAutocomplete]="auto"
            (blur)="selectedValue($event)" />
          <small *ngIf="storyForm.get('zipCode').errors">min length: 5 digits</small>

          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            @for (option of filteredOptions | async; track option) {
            <mat-option (click)="selectedValue($event)" [value]="option">{{option.zipCode}} {{option.town}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'town' | translate}}</mat-label>
          <input matInput formControlName="localizationCity" readonly="readonly">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'municipality' | translate}}</mat-label>
          <input matInput formControlName="councilCity" readonly="readonly">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'island' | translate}}</mat-label>
          <input matInput formControlName="localizationCCAA" readonly="readonly">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'consultant' | translate}}</mat-label>
          <mat-select formControlName="consultant">
            @for(consultant of consultantList; track consultant) {
            <mat-option [value]="consultant">{{consultant}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <section>
          <mat-label>{{'delegation' | translate}}</mat-label>
          <mat-radio-group formControlName="delegation">
            <mat-radio-button value="Mallorca">Mallorca</mat-radio-button>
            <mat-radio-button value="Menorca">Menorca</mat-radio-button>
            <mat-radio-button value="Eivissa">{{'eivissa' | translate}}</mat-radio-button>
            <mat-radio-button value="Formentera">Formentera</mat-radio-button>
          </mat-radio-group>
        </section>
      </section>
    </mat-tab>

    <mat-tab label="{{'acord' | translate}}">
      <section>
        <mat-form-field>
          <mat-label>{{'transferDate' | translate}}</mat-label>
          <input matInput type="date" formControlName="cessionDate">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'contractTypology' | translate}}</mat-label>
          <mat-select formControlName="contractTypology">
            <mat-option value="282310001">{{'Compraventa de actividad' | translate}}</mat-option>
            <mat-option value="282310003">{{'Compraventa de participaciones' | translate}}</mat-option>
            <mat-option value="121370000">{{'Compraventa de acciones' | translate}}</mat-option>
            <mat-option value="282310002">{{'Contrato de activos' | translate}}</mat-option>
            <mat-option value="121370001">{{'Alquiler de la actividad' | translate}}</mat-option>
            <mat-option value="121370002">{{'Donación de la empresa/actividad' | translate}}</mat-option>
            <mat-option value="282310000">{{'Desconocida' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
        <section>
          <mat-label>{{'transferTypology' | translate}}</mat-label>
          <mat-radio-group formControlName="transferTypology">
            <mat-radio-button value="282310000">{{'workerTransmission' | translate}}</mat-radio-button>
            <mat-radio-button value="282310001">{{'thirdTransmission' | translate}}</mat-radio-button>
            <mat-radio-button value="282310002">{{'familiarSuccession' | translate}}</mat-radio-button>
          </mat-radio-group>
        </section>
        <mat-form-field>
          <mat-label>{{'transferPrice' | translate}}</mat-label>
          <input matInput type="number" formControlName="transferPrice">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'propertyValue' | translate}}</mat-label>
          <input matInput type="number" formControlName="propertyValue">
        </mat-form-field>
        <section>
          <mat-label>{{'selledProperty' | translate}}</mat-label>
          <mat-radio-group formControlName="comercialEstablishmentSell">
            <mat-radio-button value="1">Si</mat-radio-button>
            <mat-radio-button value="0">No</mat-radio-button>
          </mat-radio-group>
        </section>
        <mat-form-field>
          <mat-label>{{'paymentForm' | translate}}</mat-label>
          <mat-select formControlName="paymentType">
            <mat-option value="282310004">{{'Transferencia' | translate}}</mat-option>
            <mat-option value="282310003">{{'Cheque' | translate}}</mat-option>
            <mat-option value="282310002">{{'Cheque conformado' | translate}}</mat-option>
            <mat-option value="282310000">{{'Efectivo' | translate}}</mat-option>
            <mat-option value="282310005">{{'Pagaré' | translate}}</mat-option>
            <mat-option value="282310006">{{'Otros' | translate}}</mat-option>

          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'paymentTypology' | translate}}</mat-label>
          <mat-select formControlName="paymentTypology">
            <mat-option value="282310000">{{'Al contado' | translate}}</mat-option>
            <mat-option value="282310001">{{'Una parte al contado y una parte a plazos' | translate}}</mat-option>
            <mat-option value="282310002">{{'A plazos' | translate}}</mat-option>
            <mat-option value="282310003">{{'Una parte al contado y una parte en variable' | translate}}</mat-option>
            <mat-option value="282310004">{{'Pagos variables' | translate}}</mat-option>
            <mat-option value="282310006">{{'Otros' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'hiringWorkersNumber' | translate}}</mat-label>
          <input matInput type="number" formControlName="numberOfHiredWorkers">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'savedWorkersNumber' | translate}}</mat-label>
          <input matInput type="number" formControlName="numberOfSavedWorkers">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'entrepreneurWorkersNumber' | translate}}</mat-label>
          <input matInput type="number" formControlName="numberOfEnterpriseWorkers">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'totalWorkersNumber' | translate}}</mat-label>
          <input matInput type="number" formControlName="totalOfWorkers">
        </mat-form-field>
        <mat-form-field class="textArea">
          <mat-label>{{'acordMark' | translate}}</mat-label>
          <textarea matInput rows="3" formControlName="agreementFramework"></textarea>
        </mat-form-field>
      </section>
    </mat-tab>

    <mat-tab label="{{'datosIbRelleu' | translate}}">
      <section>
        <mat-form-field>
          <mat-label>{{'totalNameIbRelleu' | translate}}</mat-label>
          <input matInput formControlName="ibrelleuPersonFullName">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'phoneIbRelleu' | translate}}</mat-label>
          <input matInput minlength="9" maxlength="9" formControlName="ibrelleuPersonPhone">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'mailIbRelleu' | translate}}</mat-label>
          <input matInput type="email" formControlName="ibrelleuPersonMail">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'dni/nieIbRelleu' | translate}}</mat-label>
          <input matInput maxlength="9" formControlName="ibrelleuPersonDniNie">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'legalFormIbRelleu' | translate}}</mat-label>
          <mat-select formControlName="ibrelleuPersonLegalForm">
            @for(legalForm of legalFormList; track legalForm) {
            <mat-option [value]="legalForm.value">{{legalForm.label}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{'cifIbRelleu' | translate}}</mat-label>
          <input matInput maxlength="9" formControlName="ibrelleuCompanyNif">
        </mat-form-field>
      </section>
    </mat-tab>

    <mat-tab label="Testimonial">
      <section>
        <section>
          <mat-label>Testimonial web</mat-label>
          <mat-radio-group formControlName="webTestimonial">
            <mat-radio-button value="121370000">{{'webSolicitation' | translate}}</mat-radio-button>
            <mat-radio-button value="121370001">{{'webPublish' | translate}}</mat-radio-button>
          </mat-radio-group>
        </section>
        <mat-form-field class="textArea">
          <mat-label>{{'testimonialObservations' | translate}}</mat-label>
          <textarea matInput rows="5" formControlName="testimonialsObservations"></textarea>
        </mat-form-field>
      </section>
    </mat-tab>

    <mat-tab label="{{'seguimiento' |translate}}">
      <section>
        <mat-form-field class="textArea">
          <mat-label>{{'serviceSummary' | translate}}</mat-label>
          <textarea matInput rows="10" formControlName="offeredServiceSummary"></textarea>
        </mat-form-field>
      </section>
    </mat-tab>

    <mat-tab label="{{'documentation' | translate}}">
      <app-document id="{{id}}" origin="successstory"></app-document>
    </mat-tab>
  </mat-tab-group>
  <div ngClass="centered-item">
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </div>
  <div ngClass="centered-item">
    <small ngClass="centered-item">
      Status: {{storyForm.status}} | Valid: {{storyForm.valid}} | Pristine: {{storyForm.pristine}} | Touched:
      {{storyForm.touched}} | Dirty: {{storyForm.dirty}}
    </small>
  </div>
</form>