<h1>success-stories-detail works!</h1>
<form [formGroup]="formSuccessStories" (ngSubmit)="onSubmit()">
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Dades generals">
    <section>
      <mat-form-field>
        <mat-label>Codi</mat-label>
        <input matInput formControlName="id" aria-label="id" readonly>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nom del cas</mat-label>
        <input matInput formControlName="nombre" aria-label="Nombre" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tipologia de la Reempresa</mat-label>
        <input matInput formControlName="id" aria-label="id" readonly>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Procés</mat-label>
        <input matInput formControlName="nombre" aria-label="Nombre" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Projecte Reempresa</mat-label>
        <input matInput formControlName="id" aria-label="id" readonly>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Projecte Cedent</mat-label>
        <input matInput formControlName="nombre" aria-label="Nombre" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sector principal</mat-label>
        <input matInput formControlName="id" aria-label="id" readonly>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Activitat</mat-label>
        <input matInput formControlName="nombre" aria-label="Nombre" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Código Postal</mat-label>
        <input matInput formControlName="zipCode" maxlength="5" minlength="5" (blur)="selectedValue($event)" [matAutocomplete]="auto"/>
        <small *ngIf="formSuccessStories.get('zipCode').errors">min length: 5 digits</small>

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{option.zipCode}} {{option.town}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Población</mat-label>
        <input matInput formControlName="localizationCity" readonly="readonly">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Municipio</mat-label>
        <input matInput formControlName="councilCity" readonly="readonly">
      </mat-form-field>    
      <mat-form-field>
        <mat-label>Illa</mat-label>
        <input matInput formControlName="localizationCCAA" readonly="readonly">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Consultor</mat-label>
        <input matInput formControlName="consultor" type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Delegación</mat-label>
        <input matInput formControlName="delegacion" type="text">
      </mat-form-field>
    </section>
  </mat-tab>
  
  <mat-tab label="Acord">
     <section>
      <mat-form-field>
        <mat-label>Data de la cessió</mat-label>
        <input matInput formControlName="transferDate" type="date" aria-label="transferDate">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tipologia de contracte</mat-label>
        <input matInput formControlName="id" aria-label="id" value="{{id}}" readonly>
      </mat-form-field>
     </section>
  </mat-tab>

  <mat-tab label="Dades projecte Reemprenedor">
      Content 3
  </mat-tab>

  <mat-tab label="Testimonial">
      Content 4
  </mat-tab>

  <mat-tab label="Seguiment">
      Content 5
  </mat-tab>

  <mat-tab label="Documentació">
      Content 6
  </mat-tab>
</mat-tab-group>
<section ngClass="info-account">
  <button mat-raised-button color="primary" type="submit" ngClass="info-account" [disabled]="!formSuccessStories.valid">Guardar</button>
</section>
<section>
  <small>
  Status: {{formSuccessStories.status}}<br>
  Valid: {{formSuccessStories.valid}}<br>
  Pristine: {{formSuccessStories.pristine}}<br> 
  Touched: {{formSuccessStories.touched}}<br> 
  Dirty: {{formSuccessStories.dirty}}<br> 
</small>
</section>
</form>