@use "../../../_adr-colors";

.filter-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
}

.bold-title {
  font-weight: bolder;
}

.url-link {
  color: adr-colors.$secondary-adr;
  font-weight: bold;
}

.small-data {
  font-size: 0.75rem;
  color: orange;
}

.full-view {
  word-break: break-word;
  color: adr-colors.$primary-adr;
}

.Pending {
  display: block;
  border-radius: 0.2rem;
  background-color: orangered;
  padding: 0.2rem;
  color: #fff;
  min-width: 4rem;
}

.Active {
  display: block;
  border-radius: 0.2rem;
  background-color: greenyellow;
  padding: 0.2rem;
  color: #000;
  min-width: 4rem;
}

.ContactAgain {
  display: block;
  border-radius: 0.2rem;
  background-color: darkmagenta;
  padding: 0.2rem;
  color: #fff;
  min-width: 4rem;
}

.createButton {
  margin: 10px;
  display: grid;
  justify-content: end;
}

@media only screen and (max-width: 760px) {
  .filter-area {
    grid-template-columns: 1fr;
  }
}
