<h1>Contactos</h1>
<section ngClass="filter-area">
  <mat-form-field>
    <mat-label>Estat contacte</mat-label>
    <mat-select multiple (selectionChange)="selectedValue($event)" #estatContacte>
      @for (contactStateItem of contactStates; track contactStateItem['value']) {
      <mat-option [value]="contactStateItem">{{contactStateItem['label']}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Filter contacts</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
</section>
<section>
  <mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      <mat-header-cell *matHeaderCellDef [ngSwitch]="col.key">
        <span *ngSwitchDefault>{{ col.label }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <section [ngSwitch]="col.type" *ngIf="!element.isEdit">
          <span *ngSwitchCase="'scope'" ngClass="small-data" [innerHTML]="element[col.key]"></span>
          <span *ngSwitchCase="'date'" ngClass="small-data">{{element[col.key]}}</span>
          <span *ngSwitchCase="'email'" ngClass="full-view">{{element[col.key]}}</span>
          <a *ngSwitchCase="'url'" ngClass="small-data url-link" [routerLink]="['/contact-detail/', element.id]"
            title="Click to view & edit contact detail">{{ element[col.key] }}</a>
          <span *ngSwitchDefault ngClass="small-data">{{ element[col.key] }}</span>
        </section>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsDisplayed"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsDisplayed;"></mat-row>
  </mat-table>
</section>