<h1>Dona’t d’alta</h1>

<section ngClass="large-box">
  <p>Gaudeix del servei de Reempresa omplint el següent formulari:</p>
  <form [formGroup]="profileForm" (ngSubmit)="validateForm()" [ngClass]="{'full-form': mustShowField}">
    <mat-form-field>
      <mat-label>DNI/NIE</mat-label>
      <input matInput formControlName="dni" minlength="9" maxlength="9">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>
      <mat-form-field *ngIf="mustShowField">
      <mat-label>Cognoms</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>Género</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="Hombre">Home</mat-option>
        <mat-option value="Mujer">Dona</mat-option>
        <mat-option value="Otros">Altres</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput formControlName="dob" type="date">
    </mat-form-field>
       <mat-form-field *ngIf="mustShowField">
      <mat-label>Teléfono principal</mat-label>
      <input matInput formControlName="mainPhone" minlength="9" maxlength="9">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>Correo electrónico principal</mat-label>
      <input matInput formControlName="mainMail">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="localizationAddress">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>Cógigo Postal</mat-label>
      <input matInput formControlName="zipCode" maxlength="5" minlength="5">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>Población</mat-label>
    <input matInput formControlName="localizationCity">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>Provincia</mat-label>
      <input matInput formControlName="localizationCCAA">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>Qui és el teu perfil?</mat-label>
      <mat-select formControlName="userProfile">
        <mat-option value="cedent">Cedent</mat-option>
        <mat-option value="emprendedor">Emprenedor</mat-option>
      </mat-select>
    </mat-form-field>    
    <section>
      <mat-checkbox class="right-margin" (change) ="validateDNI($event)" formArrayName="acceptTerms">Accept the terms and the conditions</mat-checkbox>
    </section>
    <section *ngIf="mustShowField">
      <button mat-raised-button color="primary" type="submit">Validar</button>
    </section>
    <section>
      <label for="lopd_pas0" class="control-label label-required">He llegit i accepto la <a href="https://www.reempresa.org/Politica-de-Privadesa" target="_blank">Política de Privadesa</a></label>
      <br>
      <br>
      <section id="lbl_lopd_pas0" style="font-size:85%"><i>*Amb l'enviament d'aquest formulari confirmeu que heu llegit la següent Informació bàsica sobre Protecció de Dades:</i><br>
        <br><b>Responsable:</b>Agència de desenvolupament regional de les Illes Balears.
        <br><b>Finalitat:</b> L'atenció i gestió dels serveis que ofereix l'Agència de desenvolupament regional de les Illes Balears i el registre dels interessats per a la prestació de serveis d'Ibrelleu, i establir i mantenir relacions comercials.
        <br><b>Legitimació:</b> La legitimació es realitza a través del consentiment de l'interessat/da; la prestació del consentiment de l'interessat/da al servei d'Ibrelleu per a l'alta en serveis de promocionals, i l'interès legítim per al desenvolupament de relacions comercials.
        <br><b>Destinataris:</b> En qualitat de corresponsables del tractament, les institucions i entitats col·laboradores per tal que puguin treballar al seu favor així com les fundacions, gremis i associacions implicades per a l'establiment de relacions comercials.
        <br><b>Drets:</b> Podreu exercir el vostre dret d'accés, rectificació, oposició, limitació i supressió de totes les dades a <a href="mailto:dpd@adrbalears.es">'dpd&#64;adrbalars.es'</a>.
        <br><b>Informació addicional:</b> Podeu consultar la informació detallada sobre la nostra <a href="https://www.adrbalears.es/Politica-de-Privadesa" target="_blank">Política de Privadesa a la nostra pàgina web</a>.<br>
      </section>
    </section>
  </form>
</section>
