<h1>{{ "signUp" | translate }}</h1>

<section ngClass="large-box">
  <h2>{{ "subTitleSignUp" | translate }}</h2>
  <form [formGroup]="profileForm" (ngSubmit)="createContact()" [ngClass]="{'full-form': mustShowField}">
    <mat-form-field>
      <mat-label>DNI/NIE</mat-label>
      <input matInput formControlName="dni" minlength="9" maxlength="9">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "name" | translate }}</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>
      <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "surname" | translate }}</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "Gender" | translate }}</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="Hombre">{{ "manGender" | translate }}</mat-option>
        <mat-option value="Mujer">{{ "womanGender" | translate }}</mat-option>
        <mat-option value="Otros">{{ "otherGender" | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "dob" | translate }}</mat-label>
      <input matInput formControlName="dob" type="date">
    </mat-form-field>
       <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "mainPhone" | translate }}</mat-label>
      <input matInput formControlName="mainPhone" minlength="9" maxlength="9">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "mainMail" | translate }}</mat-label>
      <input matInput formControlName="mainMail">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "address" | translate }}</mat-label>
      <input matInput formControlName="localizationAddress">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "zipCode" | translate }}</mat-label>
      <input matInput formControlName="zipCode" maxlength="5" minlength="5" [matAutocomplete]="auto" (blur)="selectedValue($event)"/>
      <small *ngIf="profileForm.get('zipCode').errors">min length: 5 digits{{ "minlength" | translate }}</small>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option" >{{option.zipCode}} {{option.town}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "town" | translate }}</mat-label>
      <input matInput formControlName="localizationCity" readonly="readonly">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "municipality" | translate }}</mat-label>
      <input matInput formControlName="councilCity" readonly="readonly">
    </mat-form-field>    
    <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "island" | translate }}</mat-label>
      <input matInput formControlName="localizationCCAA" readonly="readonly">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "yourProfile" | translate }}</mat-label>
      <mat-select formControlName="userProfile">
        <mat-option value="cedent">{{ "grantor" | translate }}</mat-option>
        <mat-option value="emprendedor">{{ "entrepreneur" | translate }}</mat-option>
      </mat-select>
    </mat-form-field>    
    <section>
      <mat-checkbox class="right-margin" (change) ="validateDNI($event)" formArrayName="acceptTerms">{{ "acceptTermsAndConditions" | translate }}</mat-checkbox>
    </section>
    <section *ngIf="mustShowField">
      <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">{{ "send" | translate }}</button>
    </section>
    <section *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </section>
    <section>
      <label for="lopd_pas0" class="control-label label-required">{{ "ihaveread" | translate }}<a href="https://www.adrbalears.es/aviso-legal/377" target="_blank"> {{ "legalNoticeAndPrivacyPolicy" | translate }}</a></label>
      <br>
      <br>
      <section id="lbl_lopd_pas0" style="font-size:85%"><i>* {{"sendingThisForm" | translate}}</i><br>
        <br><b>Responsable:</b> Agència de desenvolupament regional de les Illes Balears.
        <br><b>Finalitat:</b> L'atenció i gestió dels serveis que ofereix l'Agència de desenvolupament regional de les Illes Balears i el registre dels interessats per a la prestació de serveis d'Ibrelleu, i establir i mantenir relacions comercials.
        <br><b>Legitimació:</b> La legitimació es realitza a través del consentiment de l'interessat/da; la prestació del consentiment de l'interessat/da al servei d'Ibrelleu per a l'alta en serveis de promocionals, i l'interès legítim per al desenvolupament de relacions comercials.
        <br><b>Destinataris:</b> En qualitat de corresponsables del tractament, les institucions i entitats col·laboradores per tal que puguin treballar al seu favor així com les fundacions, gremis i associacions implicades per a l'establiment de relacions comercials.
        <br><b>Drets:</b> Podreu exercir el vostre dret d'accés, rectificació, oposició, limitació i supressió de totes les dades a <a href="mailto:dpd@adrbalears.es">'dpd&#64;adrbalars.es'</a>.
        <br><b>Informació addicional:</b> Podeu consultar la informació detallada sobre la nostra <a href="https://www.adrbalears.es/aviso-legal/377" target="_blank">Política de Privadesa a la nostra pàgina web</a>.<br>
      </section>
    </section>
  </form>
</section>
