
<section ngClass="large-box">
 <!--  <img src='../../assets/images/logo gov+adr.svg' alt='Govern de les Illes Balears' width="400px" height="auto"> -->
  <img src='../../assets/images/logo-ibrelleu.png' title='el servei ibrelleu' alt='ibrelleu' width="400px" height="auto">
<br><br>
  <h2>{{ "subTitleSignUp" | translate }}</h2>
  <form [formGroup]="profileForm" (ngSubmit)="createContact()" [ngClass]="{'full-form': mustShowField}">
    <mat-form-field>
      <mat-label>DNI/NIE</mat-label>
      <input matInput formControlName="dni" minlength="9" maxlength="9">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "name" | translate }}</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>
      <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "surname" | translate }}</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "gender" | translate }}</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="male">{{ "male" | translate }}</mat-option>
        <mat-option value="female">{{ "female" | translate }}</mat-option>
        <mat-option value="others">{{ "others" | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "dob" | translate }}</mat-label>
      <input matInput formControlName="dob" type="date">
    </mat-form-field>
       <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "mainPhone" | translate }}</mat-label>
      <input matInput formControlName="mainPhone" minlength="9" maxlength="9" type="tel">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "email" | translate }}</mat-label>
      <input matInput formControlName="mainMail" type="email">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "address" | translate }}</mat-label>
      <input matInput formControlName="localizationAddress">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "zipCode" | translate }}</mat-label>
      <input matInput formControlName="zipCode" maxlength="5" minlength="5" [matAutocomplete]="auto" (blur)="selectedValue($event)"/>
      <small *ngIf="profileForm.get('zipCode').errors">min length: 5 digits{{ "minlength" | translate }}</small>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option" >{{option.zipCode}} {{option.town}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "town" | translate }}</mat-label>
      <input matInput formControlName="localizationCity" readonly="readonly">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "municipality" | translate }}</mat-label>
      <input matInput formControlName="councilCity" readonly="readonly">
    </mat-form-field>    
    <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "island" | translate }}</mat-label>
      <input matInput formControlName="island" readonly="readonly">
    </mat-form-field>
    <mat-form-field *ngIf="mustShowField">
      <mat-label>{{ "yourProfile" | translate }}</mat-label>
      <mat-select formControlName="userProfile">
        <mat-option value="grantor">{{ "grantor" | translate }}</mat-option>
        <mat-option value="entrepreneur">{{ "entrepreneur" | translate }}</mat-option>
      </mat-select>
    </mat-form-field>    
    <section>
      <mat-checkbox class="right-margin" (change) ="validateDNI($event)" formArrayName="acceptTerms">{{ "acceptTermsAndConditions" | translate }}</mat-checkbox>
    </section>
    <section *ngIf="mustShowField">
      <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">{{ "send" | translate }}</button>
    </section>
      <br>
      <section *ngIf="!successSend" id="lbl_lopd_pas0" style="font-size:85%"><i>* {{"sendingThisForm" | translate}}</i><br>
        <article [innerHTML]="'rgpdTxt' | translate"></article>
      </section>

  </form>
  <section *ngIf="successSend">
    <h2>{{ "successSendMessage" | translate }}</h2>
  </section>
</section>
