@use '../../_adr-colors';

.sign-up-container {
  display: grid;
  grid-template-areas: "logoheader" "titleheader" "signupform" "successfooter";
  border: 2px solid #71b796;
  width: 70%;
  margin: 2rem auto;
  gap: 2rem;
  padding: 2rem;
}
.logo-header {
  grid-area: logoheader;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.title-header {
  grid-area: titleheader;
}

.sign-up-form {
  grid-area: signupform;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 1rem;
}

.success-message {
  grid-area: successfooter;
  border-radius: .5rem;
  background-color: #71b796;
  padding: 1rem;
  color: #000;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .sign-up-container {
    margin: auto;
    width: 100%;
    padding: .5rem;
  }
  img {
    max-width: 100%;
  }
}