@use "../../../adr-colors";
@use "../../../utilities.scss";

footer {
  /* z-index: -1; */
  opacity: 0.9;
  margin-top: 1rem;
  display: grid;
  grid-template-areas: "logoBottom localizacionBottom textosLegales";
  font-size: 0.75rem;
  background-color: adr-colors.$primary-adr;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.logo-adr-balears {
  grid-area: logoBottom;
}
.localizacion-adr-balears {
  grid-area: localizacionBottom;
  span {
    padding-right: .5rem;
  }
}
.textos-legales {
  grid-area: textosLegales;
  span {
    padding-right: .5rem;
  }
}

a:visited {
  color: adr-colors.$primary-adr;
}

a:hover {
  color: adr-colors.$secondary-adr;
}

@media screen and (max-width: 992px) {
  footer {
    grid-template-columns: 100%;
    grid-template-areas: "logoBottom" "localizacionBottom" "textosLegales";
    text-align: center;
    max-height: unset;
    position: unset;
  }
  .logo-adr-balears {
    grid-area: logoBottom;
    a > img {
      height: 75px;
    }
  }
  .localizacion-adr-balears {
    grid-area: localizacionBottom;
    margin-top: 1rem;
    padding-left: 0;
  }

  .textos-legales {
    grid-area: textosLegales;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
    grid-template-columns: 1fr;
  }
}
