@use "../../../adr-colors";
@use "../../../utilities.scss";

footer {
  /* z-index: 1; */
  opacity: 0.9;
  margin-top: 2rem;
  display: grid;
  grid-template-areas: "logoBottom localizacionBottom textosLegales";
  grid-template-columns: 0.75fr 1.5fr 0.75fr;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: adr-colors.$primary-adr;
  color: #fff;
  // position: fixed;
  // left: 0;
  // bottom: 0;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.logo-adr-balears {
  grid-area: logoBottom;
}
.localizacion-adr-balears {
  grid-area: localizacionBottom;
  span {
    padding-right: 0.5rem;
  }
}
.textos-legales {
  grid-area: textosLegales;
  span {
    // padding-right: 0.5rem;
    display: grid;
    text-align: end;
  }
}

a:hover {
  color: adr-colors.$secondary-adr;
}

@media screen and (max-width: 992px) {
  footer {
    grid-template-columns: 100%;
    grid-template-areas: "logoBottom" "localizacionBottom" "textosLegales";
    text-align: center;
    max-height: unset;
    position: unset;
  }
  .logo-adr-balears {
    grid-area: logoBottom;
    a > img {
      height: 75px;
    }
  }
  .localizacion-adr-balears {
    grid-area: localizacionBottom;
    margin-top: 1rem;
    padding-left: 0;
  }

  .textos-legales {
    grid-area: textosLegales;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
    grid-template-columns: 1fr;
  }
}
