<footer>
  <section ngClass="logo-adr-balears">
    <a ngClass="nav-link" href="https://www.adrbalears.es" target="_blank">
      <img src="../../../assets/images/conselleria-adrbalears-completo-grises.png" alt="ADR Balears"
        title="Agència de desenvolupament regional de les Illes Balears" width="200px" height="auto">
    </a>
  </section>
  <address ngClass="localizacion-adr-balears">
    <span>{{'plaza' | translate}} de Son Castelló, 1</span>
    <span>07009 - Palma de Mallorca</span>
    <span>{{'balearicIslands' | translate}}</span>
    <span><a href="tel:971176161">Tel: 971 17 61 61</a></span>
  </address>
  <section ngClass="textos-legales">
    <span><a routerLink="/accesibilidad/{{id}}">{{'Accesibilidad' | translate}}</a></span>
    <span><a routerLink="avisolegal">{{'AvisoLegal' | translate}}</a></span>
    <span><a routerLink="politica-de-cookies">{{'PoliticaCookies' | translate}}</a></span>
  </section>
</footer>