<footer class="grid-item">

  <section class="logo-adr-balears">
    <a class="nav-link" href="https://www.adrbalears.es" target="_blank">
      <img src="../../../assets/images/logo-adr-balears.webp" alt="ADR Balears"
        title="Agència de desenvolupament regional de les Illes Balears" width="auto" height="45px">
    </a>
  </section>

  <section class="textos-legales">
    <address address class="localizacion-adr-balears">Plaça de Son Castelló, 1 | 07009 - Palma <br> Illes Balears | <a
        href="tel:971176161">Tel: 971 17 61 61</a></address>

    <a routerLink="/accesibilidad/{{id}}">{{'Accesibilidad' | translate}}</a>
    <a routerLink="avisolegal">{{'avisolegal' | translate}}</a>
    <a routerLink="contacto">{{'contacto' | translate}}</a>
    <a routerLink="politica-de-cookies">{{'politica-de-cookies' | translate}}</a>
    <a routerLink="politica-de-privacidad">{{'politica-de-privacidad' | translate}}</a>
    <a href="sede-electronica">{{'sede-electronica' | translate}}</a>
    <a href="canal-de-denuncias">{{'canal-de-denuncias' | translate}}</a>
  </section>
</footer>