<section ngClass="center">
  <h1>{{'userLogin' | translate}}</h1>
  <mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <section>
        <mat-form-field>
          <mat-label>{{'email' | translate}}</mat-label>
          <input matInput type="email" formControlName="email" name="email" required>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <mat-label>{{'password' | translate}}</mat-label>
          <input matInput type="password" formControlName="password" name="password" required>
        </mat-form-field>
      </section>
      <section>
        <button mat-raised-button color="primary" type="submit">{{'login' | translate}}</button>
      </section>

    <section ngClass="info-msg" *ngIf="loginForm.get('email')!.invalid && loginForm.get('email')!.touched">
      Email is required.
    </section>
    <section ngClass="info-msg" *ngIf="loginForm.get('password')!.invalid && loginForm.get('password')!.touched">
      Password is required.
    </section>
  </form>
  </mat-card>
  <span id="loginFeedback"></span>
</section>
