mat-card {
  margin: auto;
  min-height: 100%;
}

.center {
  margin: auto;
  width: 50vW;
  min-height: 80vh;
  padding: 1rem;
}

form {
  padding: 3rem;
}

.info-msg {
  background-color: red;
  color: white;
  padding: .5rem;
  border-radius: .5rem;
  margin-top: .5rem;
}

.mat-mdc-input-element {
  width: 50%;
}