/* You can add global styles to this file, and also import other style files */

@use 'adr-colors';
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Inter, sans-serif;
}

html {
  line-height: 2rem;
  color: adr-colors.$primary-adr;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.detail-format {
  margin: auto;
  text-align: center;
}

.centered-item {
  margin: auto;
  width: 50%;
  text-align: center;
  background-color: adr-colors.$secondary-adr;
  color: #fff;
}

mat-tab-group {
  min-height: 75vh;
}

:root {
  .custom-snackbar {
    --mdc-snackbar-container-color: #71b796;
  }
}

adr-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

adr-body,
adr-contacts,
adr-contact-detail,
adr-account,
adr-account-detail,
adr-ibrelleu-projects,
adr-ibrelleu-project-detail,
adr-grantor-projects,
adr-grantor-project-detail,
adr-success-stories,
adr-success-stories-detail,
adr-sign-up-external-user {
  flex: 1.75 0 auto;
}

adr-footer {
  padding-top: 25px;
  flex-shrink: 0;
}

h1 {
  margin: 0.5rem;
}
