/* You can add global styles to this file, and also import other style files */
@use 'adr-colors';
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body { 
  font-family: Inter, sans-serif; 
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

html {
  line-height: 2rem;
  color-scheme: light;
  color: adr-colors.$primary-adr;
}

adr-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.detail-format {
  margin: auto;
  text-align: center;
}

.centered-item {
  margin: auto;
  width: 50%;
  text-align: center;
  background-color: adr-colors.$secondary-adr;
  color: #fff;
}

mat-tab-group {
  min-height: 75vh;
}
