<h1>Edita compte</h1>
<form [formGroup]="formAccountDetail" (ngSubmit)="onSubmit()">
  <mat-tab-group animationDuration = "1000ms">
        <mat-tab label="Identificació">
          <section ngClass="info-account">
            <mat-form-field [style.width.px]=350>
              <mat-label>Forma jurídica</mat-label>
              <mat-select formControlName="perfilTecnicoCedente">
            <mat-option value="0" label="Associació Sense Ànim de Lucre (ASAL)">
              Associació Sense Ànim de Lucre (ASAL)
            </mat-option>
            <mat-option value="1" label="Comunitat de Bens (CB)">
              Comunitat de Bens (CB)
            </mat-option>
            <mat-option value="2" label="Empresa Individual (EI)">
              Empresa Individual (EI)
            </mat-option>
            <mat-option value="3" label="Fundació (FUND)">
              Fundació (FUND)
            </mat-option>
            <mat-option value="4" label="Societat Anònima (SA)">
              Societat Anònima (SA)
            </mat-option>
            <mat-option value="5" label="Societat Cooperativa (SCCL)">
              Societat Cooperativa (SCCL)
            </mat-option>
            <mat-option value="6" label="Societat Civil Privada (SCP)">
              Societat Civil Privada (SCP)
            </mat-option>
            <mat-option value="7" label="Societat Limitada Professional Unipersonal (SLPU)">
              Societat Limitada Professional Unipersonal (SLPU)
            </mat-option>
            <mat-option value="8" label="Societat Anònima Laboral (SAL)">
              Societat Anònima Laboral (SAL)
            </mat-option>
            <mat-option value="9" label="Societat Limitada (SL)">
              Societat Limitada (SL)
            </mat-option>
            <mat-option value="10" label="Societat Limitada Laboral (SLL)">
              Societat Limitada Laboral (SLL)
            </mat-option>
            <mat-option value="11" label="Societat Limitada Nova Empresa (SLNE)">
              Societat Limitada Nova Empresa (SLNE)
            </mat-option>
            <mat-option value="12" label="Societat Limitada Unipersonal (SLU)">
              Societat Limitada Unipersonal (SLU)
            </mat-option>
            <mat-option value="13" label="Societat Agrària de Transformació (SAT)">
              Societat Agrària de Transformació (SAT)
            </mat-option>
            <mat-option value="14" label="Societat Limitada Professional (SLP)">
              Societat Limitada Professional (SLP)
            </mat-option>
            <mat-option value="15" label="Societat Limitada Deportiva (SLD)">
              Societat Limitada Deportiva (SLD)
            </mat-option>
            <mat-option value="16" label="Societat Anònima Deportiva (SAD)">
              Societat Anònima Deportiva (SAD)
            </mat-option>
            <mat-option value="17" label="Societat Limitada Municipal (SLM)">
              Societat Limitada Municipal (SLM)
            </mat-option>
            <mat-option value="18" label="Societat Anònima Municipal (SAM)">
              Societat Anònima Municipal (SAM)
            </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field [style.width.px]=350>
              <mat-label>Contacte principal</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>
          </section>
          <section ngClass="info-account">
            <mat-form-field [style.width.px]=350>
              <mat-label>Raó Social</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>
            <mat-form-field [style.width.px]=350>
              <mat-label>NIF</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>
          </section>
          <section ngClass="info-account">
            <mat-form-field [style.width.px]=700>
              <mat-label>Nom Comercial</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field><br>
            <section>
              <mat-label>Gestiona parades de mercat disponibles?</mat-label>
              <mat-radio-group aria-label="Select an option" formControlName="paradesMercat">
                <mat-radio-button value="SI">SI</mat-radio-button>
                <mat-radio-button value="NO">NO</mat-radio-button>
              </mat-radio-group>
            </section>
          </section>
          <section ngClass="info-account">
            <mat-label>Empresa o entitat col·laboradora?</mat-label>
            <mat-radio-group aria-label="Select an option" formControlName="paradesMercat">
              <mat-radio-button value="SI">SI</mat-radio-button>
              <mat-radio-button value="NO">NO</mat-radio-button>
            </mat-radio-group><br>
            <mat-label>Gestiona establiments comercials de titularitat municipal disponible?</mat-label>
            <mat-radio-group aria-label="Select an option" formControlName="paradesMercat" [style.width.px]=350>
              <mat-radio-button value="SI">SI</mat-radio-button>
              <mat-radio-button value="NO">NO</mat-radio-button>
            </mat-radio-group>
          </section>
          <section ngClass="info-account">
            <mat-label>Gestiona les concessions administratives de les instal·lacions esportives municipals?</mat-label>
            <mat-radio-group aria-label="Select an option" formControlName="paradesMercat">
              <mat-radio-button value="SI">SI</mat-radio-button>
              <mat-radio-button value="NO">NO</mat-radio-button>
            </mat-radio-group><br>
            <mat-label>Empresa en funcionament?</mat-label>
            <mat-radio-group aria-label="Select an option" formControlName="paradesMercat">
              <mat-radio-button value="SI">SI</mat-radio-button>
              <mat-radio-button value="NO">NO</mat-radio-button>
            </mat-radio-group>
          </section>
          <section ngClass="info-account">
            <mat-form-field [style.width.px]=350>
              <mat-label>Any de constitució de l'empresa</mat-label>
              <input matInput formControlName="consultor" type="text">
            </mat-form-field>
            <mat-form-field [style.width.px]=350>
              <mat-label>Any D’entrada a l’empresa</mat-label>
              <input matInput formControlName="delegacion" type="text">
            </mat-form-field>
          </section>
          <section ngClass="info-account">
            <mat-form-field [style.width.px]=700>
              <mat-label>Fundació de l'empresa</mat-label>
              <mat-select formControlName="perfilTecnicoCedente">
                <mat-option value="Creació" label="Creació">Creació</mat-option>
                <mat-option value="Successió" label="Successió">Successió</mat-option>
                <mat-option value="Adquisició" label="Adquisició">Adquisició</mat-option>
              </mat-select>
            </mat-form-field>
          </section>
          <section ngClass="info-account">
            <mat-form-field [style.width.px]=350>
              <mat-label>Consultor</mat-label>
              <input matInput formControlName="consultor" type="text">
            </mat-form-field>
            <mat-form-field [style.width.px]=350>
              <mat-label>Delegació</mat-label>
              <input matInput formControlName="delegacion" type="text">
            </mat-form-field>
          </section>
        </mat-tab>
        <mat-tab label="Localització (Raó social)">
          <section ngClass="info-account">
            <mat-form-field [style.width.px]=350>
              <mat-label>Adreça</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>
            <mat-form-field [style.width.px]=350>
              <mat-label>Codi postal</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>  
          </section>
          <section ngClass="info-account">
            <mat-form-field [style.width.px]=350>
              <mat-label>Població</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field> 
            <mat-form-field [style.width.px]=350>
              <mat-label>Provincia</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>
          </section>
        </mat-tab>
        <mat-tab label="Dades de contacte">
          <section ngClass="info-account">
            <mat-form-field [style.width.px]=350>
              <mat-label>Correu electrònic</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>
            <mat-form-field [style.width.px]=350>
              <mat-label>Telèfon principal</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>    
          </section>
          <section ngClass="info-account">
            <mat-form-field [style.width.px]=700>
              <mat-label>Web</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>
          </section>
          <section ngClass="info-account">
            <mat-form-field [style.width.px]=350>
              <mat-label>Instagram</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>
            <mat-form-field [style.width.px]=350>
              <mat-label>LinkedIn</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>    
          </section>
          <section ngClass="info-account">
            <mat-form-field [style.width.px]=350>
              <mat-label>Twitter</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>
            <mat-form-field [style.width.px]=350>
              <mat-label>Youtube</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>    
          </section>
          <section ngClass="info-account">
            <mat-form-field [style.width.px]=350>
              <mat-label>Altres Xarxes</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>
            <mat-form-field [style.width.px]=350>
              <mat-label>Facebook</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>    
          </section>          
        </mat-tab>
        <mat-tab label="Contactes">
          <section ngClass="info-account">
            <mat-form-field [style.width.px]=350>
              <mat-label>Nom complet</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>
            <mat-form-field [style.width.px]=350>
              <mat-label>DNI/NIE</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>
          </section>
        </mat-tab>
        <mat-tab label="Detall de l'activitat">
          <section ngClass="info-account">
            <mat-form-field [style.width.px]=350>
              <mat-label>Sector principal</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>
            <mat-form-field [style.width.px]=350>
              <mat-label>Activitat principal</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field> 
          </section>
    
        </mat-tab>
        <mat-tab label="Detall exportació/importació">
          <section ngClass="info-account">
            <mat-form-field [style.width.px]=350>
              <mat-label>Sector principal</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>
            <mat-form-field [style.width.px]=350>
              <mat-label>Activitat principal</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>    
          </section>
        </mat-tab>
        <mat-tab label="Estructura econòmica">
          <section ngClass="info-account">
            <mat-form-field [style.width.px]=350>
              <mat-label>Comentari sobre el finançament de l'empresa</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>
            <mat-form-field [style.width.px]=350>
              <mat-label>L'empresa té deutes?</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>
          </section>
        </mat-tab>
        <mat-tab label="Documentació">
          <section ngClass="info-account">
            <mat-checkbox class="example-margin" [style.width.px]=350>Liquidació anual de l'IVA (model 390) dels 3 últims anys</mat-checkbox>
            <mat-checkbox class="example-margin" [style.width.px]=350>Liquidació IRPF (model 190) dels 3 últims anys</mat-checkbox>
          </section>
          <section ngClass="info-account">
            <mat-checkbox class="example-margin" [style.width.px]=350>Declaració IRPF (model 100) dels 3 últims anys</mat-checkbox>
            <mat-checkbox class="example-margin" [style.width.px]=350>Pagaments a compte IRPF (model 130 o 131) del 4rt Trimestre últim any</mat-checkbox>
          </section>
          <section ngClass="info-account">
            <mat-checkbox class="example-margin" [style.width.px]=350>Fotocòpia CIF empresa</mat-checkbox>
            <mat-checkbox class="example-margin" [style.width.px]=350>Escriptures de constitució i modificació</mat-checkbox>
          </section>
          <section ngClass="info-account">
            <mat-checkbox class="example-margin" [style.width.px]=350>Escriptures poders de la societat (si escau)</mat-checkbox>
            <mat-checkbox class="example-margin" [style.width.px]=350>Pèrdues i guanys dels 3 últims anys</mat-checkbox>
          </section>
          <section ngClass="info-account">
            <mat-checkbox class="example-margin" [style.width.px]=350>Balanç de situació dels 3 últims anys</mat-checkbox>
            <mat-checkbox class="example-margin" [style.width.px]=350>Impost de societats (model 200) dels 3 últims anys</mat-checkbox>
          </section>
        </mat-tab>
        <mat-tab label="Usuari de">
          <section ngClass="info-account">
            <mat-checkbox class="example-margin" [style.width.px]=350>Projectes Cedents</mat-checkbox>
            <mat-checkbox class="example-margin" [style.width.px]=350>Projectes Reempresa</mat-checkbox>
          </section>    
        </mat-tab>
        <mat-tab label="Reunions">
          <section ngClass="info-account">
            <mat-form-field [style.width.px]=350>
              <mat-label>Tema </mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>
            <mat-form-field [style.width.px]=350>
              <mat-label>Referent a</mat-label>
              <input matInput formControlName="nombre" aria-label="Contacte principal és un camp obligatori." >
            </mat-form-field>
          </section>    
        </mat-tab>
  </mat-tab-group>
  <section ngClass="info-account">
    <button mat-raised-button color="primary" type="submit" ngClass="info-account">Guardar</button>
  </section>
</form>