@use '@angular/material' as mat;
@use '../../../adr-colors';

h1 {
  margin: .5rem;
}
mat-tab-group {
  min-height: 78vh;
}
.info-account {
  margin: auto;
  width: 80%;
  text-align: center;
}
.info-account-left {
  text-align: left;
}
/* form {
  margin-bottom: 2rem;
} */
.radio-margin {
  margin: 0 10px;
}