@use '@angular/material' as mat;
@use '../../../adr-colors';

section {
  display: grid;
  grid-template-rows: 1fr;
  align-items: start;
  padding: 1rem;
}

h1 {
  margin: .5rem;
}

.info-account {
  margin: auto;
  width: 80%;
  text-align: center;
}
.info-account-left {
  text-align: left;
}

.radio-margin {
  margin: 0 10px;
}