<!-- <h1>Edita compte</h1> -->
<form [formGroup]="theForm" (ngSubmit)="onSubmit()">
  <mat-tab-group animationDuration="500ms" mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Identificació">
      <section>
        <mat-form-field>
          <mat-label>Forma jurídica</mat-label>
          <mat-select formControlName="legalFormat">
            @for (legalFormItem of legalFormList; track legalFormItem) {
            <mat-option [value]="legalFormItem.value">{{legalFormItem.label}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contacte</mat-label>
          <input matInput formControlName="contact" aria-label="contacte principal és un camp obligatori.">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Raó Social</mat-label>
          <input matInput formControlName="companyName" aria-label="La raó social és un camp obligatori.">
        </mat-form-field>
        <mat-form-field>
          <mat-label>NIF</mat-label>
          <input matInput formControlName="nif" aria-label="El nif és un camp obligatori.">
          <!-- Autocompletado + cálculo de letra de nif -->
        </mat-form-field>

        <mat-form-field>
          <mat-label>Nom Comercial</mat-label>
          <input matInput formControlName="tradeName" aria-label="El nom comercial és un camp obligatori.">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Gestiona parades de mercat disponibles?</mat-label>
          <mat-select formControlName="paradesMercat" placeholder="Tria una opció">
            <mat-option value="SI">SI</mat-option>
            <mat-option value="NO">NO</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Empresa o entitat col·laboradora?</mat-label>
          <mat-select formControlName="paradesMercat" placeholder="Tria una opció">
            <mat-option value="SI">SI</mat-option>
            <mat-option value="NO">NO</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Gestiona establiments comercials de titularitat municipal disponible?</mat-label>
          <mat-select formControlName="paradesMercat" placeholder="Tria una opció">
            <mat-option value="SI">SI</mat-option>
            <mat-option value="NO">NO</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Gestiona les concessions administratives de les instal·lacions esportives
            municipals?</mat-label>
          <mat-select formControlName="paradesMercat" placeholder="Tria una opció">
            <mat-option value="SI">SI</mat-option>
            <mat-option value="NO">NO</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Empresa en funcionament?</mat-label>
          <mat-select formControlName="paradesMercat" placeholder="Tria una opció">
            <mat-option value="SI">SI</mat-option>
            <mat-option value="NO">NO</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Any de constitució de l'empresa</mat-label>
          <input matInput formControlName="creationYear" type="text">
        </mat-form-field>

        <!-- Pendiente -->
        <mat-form-field>
          <mat-label>Consultor</mat-label>
          <input matInput formControlName="consultor" type="text">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Delegació</mat-label>
          <input matInput formControlName="delegacion" type="text">
        </mat-form-field>
      </section>
    </mat-tab>
    <mat-tab label="Localització (Raó social)">
      <section>
        <mat-form-field>
          <mat-label>Adreça</mat-label>
          <input matInput formControlName="mainContact" aria-label="Contacte principal és un camp obligatori.">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Código Postal</mat-label>
          <input matInput formControlName="zipCode" maxlength="5" minlength="5" (blur)="selectedValue($event)"
            [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{option.zipCode}} {{option.town}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Població</mat-label>
          <input matInput formControlName="localizationCity" aria-label="Contacte principal és un camp obligatori.">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Municipio</mat-label>
          <input matInput formControlName="councilCity" readonly="readonly">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Illa</mat-label>
          <input matInput formControlName="localizationCCAA">
        </mat-form-field>
        <mat-form-field>
          <mat-label>País</mat-label>
          <input matInput formControlName="localizationCountry">
        </mat-form-field>
      </section>
    </mat-tab>
    <mat-tab label="Dades de contacte">
      <section>

        <mat-form-field>
          <mat-label>Correu electrònic</mat-label>
          <input matInput formControlName="companyName" aria-label="Contacte principal és un camp obligatori.">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Telèfon principal</mat-label>
          <input matInput formControlName="companyName" aria-label="Contacte principal és un camp obligatori.">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Web</mat-label>
          <input matInput formControlName="companyName" aria-label="Contacte principal és un camp obligatori.">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Instagram</mat-label>
          <input matInput formControlName="companyName" aria-label="Contacte principal és un camp obligatori.">
        </mat-form-field>
        <mat-form-field>
          <mat-label>LinkedIn</mat-label>
          <input matInput formControlName="companyName" aria-label="Contacte principal és un camp obligatori.">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Twitter</mat-label>
          <input matInput formControlName="companyName" aria-label="Contacte principal és un camp obligatori.">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Youtube</mat-label>
          <input matInput formControlName="companyName" aria-label="Contacte principal és un camp obligatori.">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Altres Xarxes</mat-label>
          <input matInput formControlName="companyName" aria-label="Contacte principal és un camp obligatori.">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Facebook</mat-label>
          <input matInput formControlName="companyName" aria-label="Contacte principal és un camp obligatori.">
        </mat-form-field>

      </section>
    </mat-tab>
    <mat-tab label="Contactes">
      <section>
        <section>
          <mat-form-field>
            <mat-label>Nom complet</mat-label>
            <input matInput formControlName="companyName" aria-label="Contacte principal és un camp obligatori.">
          </mat-form-field>
          <mat-form-field>
            <mat-label>DNI/NIE</mat-label>
            <input matInput formControlName="companyName" aria-label="Contacte principal és un camp obligatori.">
          </mat-form-field>
        </section>
      </section>
    </mat-tab>
    <mat-tab label="Detall de l'activitat">
      <section>
        <mat-form-field>
          <mat-label>Sector principal</mat-label>
          <input matInput formControlName="companyName" aria-label="Contacte principal és un camp obligatori.">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Activitat principal</mat-label>
          <input matInput formControlName="companyName" aria-label="Contacte principal és un camp obligatori.">
        </mat-form-field>
      </section>
    </mat-tab>
    <mat-tab label="Detall exportació/importació">
      <section>
        <mat-form-field>
          <mat-label>Sector principal</mat-label>
          <input matInput formControlName="companyName" aria-label="Contacte principal és un camp obligatori.">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Activitat principal</mat-label>
          <input matInput formControlName="companyName" aria-label="Contacte principal és un camp obligatori.">
        </mat-form-field>
      </section>
    </mat-tab>
    <mat-tab label="Estructura i organització">

    </mat-tab>
    <mat-tab label="Estructura econòmica">
      <section>
        <mat-form-field>
          <mat-label>Comentari sobre el finançament de l'empresa</mat-label>
          <input matInput formControlName="companyName" aria-label="Contacte principal és un camp obligatori.">
        </mat-form-field>
        <mat-form-field>
          <mat-label>L'empresa té deutes?</mat-label>
          <input matInput formControlName="companyName" aria-label="Contacte principal és un camp obligatori.">
        </mat-form-field>
      </section>
    </mat-tab>
    <mat-tab label="Documentació (NACHO)">
      <section>
        <mat-checkbox class="example-margin">Liquidació anual de l'IVA (model 390) dels 3 últims anys</mat-checkbox>
        <mat-checkbox class="example-margin">Liquidació IRPF (model 190) dels 3 últims anys</mat-checkbox>

        <mat-checkbox class="example-margin">Declaració IRPF (model 100) dels 3 últims anys</mat-checkbox>
        <mat-checkbox class="example-margin">Pagaments a compte IRPF (model 130 o 131) del 4rt Trimestre últim
          any</mat-checkbox>

        <mat-checkbox class="example-margin">Fotocòpia CIF empresa</mat-checkbox>
        <mat-checkbox class="example-margin">Escriptures de constitució i modificació</mat-checkbox>

        <mat-checkbox class="example-margin">Escriptures poders de la societat (si escau)</mat-checkbox>
        <mat-checkbox class="example-margin">Pèrdues i guanys dels 3 últims anys</mat-checkbox>

        <mat-checkbox class="example-margin">Balanç de situació dels 3 últims anys</mat-checkbox>
        <mat-checkbox class="example-margin">Impost de societats (model 200) dels 3 últims anys</mat-checkbox>
      </section>
    </mat-tab>
    <mat-tab label="Usuari de (pendiente decidir)">
      <section>
        <mat-checkbox class="example-margin">Projectes Cedents</mat-checkbox>
        <mat-checkbox class="example-margin">Projectes Reempresa</mat-checkbox>
      </section>
    </mat-tab>
    <mat-tab label="Reunions (pendiente decidir)">
      <section>
        <mat-form-field>
          <mat-label>Tema </mat-label>
          <input matInput formControlName="companyName" aria-label="Contacte principal és un camp obligatori.">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Referent a</mat-label>
          <input matInput formControlName="companyName" aria-label="Contacte principal és un camp obligatori.">
        </mat-form-field>
      </section>
    </mat-tab>
  </mat-tab-group>
  <div ngClass="centered-item">
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </div>
  <div ngClass="centered-item">
    <small ngClass="centered-item">
      Status: {{theForm.status}} | Valid: {{theForm.valid}} | Pristine: {{theForm.pristine}} | Touched:
      {{theForm.touched}} | Dirty: {{theForm.dirty}}
    </small>
  </div>
</form>