<h1>Cuentas</h1>
<section>
  <mat-form-field [style.width.px]=pxValue>
    <mat-label>Forma jurídica</mat-label>
      <mat-select multiple (selectionChange)="selectedValue($event)" #formaJuridica>
        <mat-option value="0" label="Associació Sense Ànim de Lucre (ASAL)">Associació Sense Ànim de Lucre (ASAL)</mat-option>
        <mat-option value="1" label="Comunitat de Bens (CB)">Comunitat de Bens (CB)</mat-option>
        <mat-option value="2" label="Empresa Individual (EI)">Empresa Individual (EI)</mat-option>
        <mat-option value="3" label="Fundació (FUND)">Fundació (FUND)</mat-option>
        <mat-option value="4" label="Societat Anònima (SA)">Societat Anònima (SA)</mat-option>
        <mat-option value="5" label="Societat Cooperativa (SCCL)">Societat Cooperativa (SCCL)</mat-option>
        <mat-option value="6" label="Societat Civil Privada (SCP)">Societat Civil Privada (SCP)</mat-option>
        <mat-option value="7" label="Societat Limitada Professional Unipersonal (SLPU)">Societat Limitada Professional Unipersonal (SLPU)</mat-option>
        <mat-option value="8" label="Societat Anònima Laboral (SAL)">Societat Anònima Laboral (SAL)</mat-option>
        <mat-option value="9" label="Societat Limitada (SL)">Societat Limitada (SL)</mat-option>
        <mat-option value="10" label="Societat Limitada Laboral (SLL)">Societat Limitada Laboral (SLL)</mat-option>
        <mat-option value="11" label="Societat Limitada Nova Empresa (SLNE)">Societat Limitada Nova Empresa (SLNE)</mat-option>
        <mat-option value="12" label="Societat Limitada Unipersonal (SLU)">Societat Limitada Unipersonal (SLU)</mat-option>
        <mat-option value="13" label="Societat Agrària de Transformació (SAT)">Societat Agrària de Transformació (SAT)</mat-option>
        <mat-option value="14" label="Societat Limitada Professional (SLP)">Societat Limitada Professional (SLP)</mat-option>
        <mat-option value="15" label="Societat Limitada Deportiva (SLD)">Societat Limitada Deportiva (SLD)</mat-option>
        <mat-option value="16" label="Societat Anònima Deportiva (SAD)">Societat Anònima Deportiva (SAD)</mat-option>
        <mat-option value="17" label="Societat Limitada Municipal (SLM)">Societat Limitada Municipal (SLM)</mat-option>
        <mat-option value="18" label="Societat Anònima Municipal (SAM)">Societat Anònima Municipal (SAM)</mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field [style.width.px]=350>
    <mat-label>Filter accounts</mat-label>
    <input matInput (keypress)="applyFilter($event)" placeholder="Ex. my free text" #input>
  </mat-form-field>
</section>
<section>
  <mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      <mat-header-cell *matHeaderCellDef [ngSwitch]="col.key">
        <span *ngSwitchDefault>{{ col.label }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
      <section [ngSwitch]="col.type" *ngIf="!element.isEdit">
        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <button mat-icon-button (click)="element.isEdit = !element.isEdit" class="material-icons app-toolbar-menu save-button" matTooltip="Edit" color="accent"><i class="fa-solid fa-pencil fa-xs"></i></button>
          <button mat-icon-button class="material-icons app-toolbar-menu delete-button" (click)="removeRow(element.id)" matTooltip="Delete" color="warn"><i class="fa-solid fa-trash fa-xs"></i></button>
        </div>
        <span *ngSwitchCase="'scope'" ngClass="small-data" [innerHTML]="element[col.key]"></span>
        <span *ngSwitchCase="'date'" ngClass="small-data">{{element[col.key]}}</span>
        <a *ngSwitchCase="'url'" ngClass="small-data url-link" [routerLink]="['/account-detail/', element[col.key]]" title="Click to view & edit account detail">{{ element[col.key] }}</a>
        <span *ngSwitchDefault ngClass="small-data">{{ element[col.key] }}</span>
      </section>

      <section [ngSwitch]="col.type" *ngIf="element.isEdit">
        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <button mat-button (click)="editRow(element)" [disabled]="valid[element.id] === false">Done</button>
        </div>
        <span *ngSwitchCase="'isSelected'" ngClass="small-data">{{element[col.key]}}</span>
        <span *ngSwitchCase="'readOnly'" [formControl]="element[col.key]" ngClass="small-data">{{element[col.key]}}</span>
        
        <mat-select *ngSwitchCase="'scope'" [formControl]="element[col.key]" ngClass="select-scope">
          <mat-option *ngFor="let ambito of ambitos" [value]="ambito">
            {{ambito}}
          </mat-option>
        </mat-select>

        <textarea *ngSwitchCase="'textarea'" ngClass="textarea-edition-format small-data-input" [formControl]="element[col.key]"></textarea>
        <input *ngSwitchCase="'url'" [type]="col.type" [formControl]="element[col.key]" ngClass="url-edition-format small-data-input"/>
        <input *ngSwitchDefault [type]="col.type" [formControl]="element[col.key]" ngClass="text-edition-format small-data-input"/>
      </section>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsDisplayed"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsDisplayed;"></mat-row>
  </mat-table>
</section>

