<h1>{{'ibRelleuProjectForm' | translate}}</h1>
<form [formGroup]="ibrelleuProjectForm" (ngSubmit)="onSubmit()">
    <mat-tab-group animationDuration="500ms" mat-stretch-tabs="false" mat-align-tabs="center" dynamicHeight
        [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="{{'identification' | translate }}">
            <section>
                <mat-form-field>
                    <mat-label>{{'ibrelleuProjectName' | translate}}</mat-label>
                    <input matInput formControlName="projectName">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'creationDateProject' | translate}}</mat-label>
                    <input type="date" matInput formControlName="creationDate">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'responsableName' | translate}}</mat-label>
                    <input matInput formControlName="projectResponsable">
                </mat-form-field>

                <section>
                    <mat-label>{{'sameContactAndResponsable' | translate}}</mat-label>
                    <mat-radio-group formControlName="sameResponsableAndContact">
                        <mat-radio-button value="1">Si</mat-radio-button>
                        <mat-radio-button value="0">No</mat-radio-button>
                    </mat-radio-group>
                </section>

                <mat-form-field><!-- Si sameContactAndResponsable es 0 (No), aparece este campo-->
                    <mat-label>{{'projectContactName' | translate}}</mat-label>
                    <input matInput formControlName="projectContact">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'account' | translate}}</mat-label>
                    <input matInput formControlName="projectAccount">
                </mat-form-field>
            </section>
        </mat-tab>
        <mat-tab label="{{'projectManagement' | translate }}">
            <section>
                <mat-form-field>
                    <mat-label>{{'consultant' | translate}}</mat-label>
                    <mat-select formControlName="consultant">
                        @for(consultant of consultantList; track consultant) {
                        <mat-option [value]="consultant">{{consultant}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <section>
                    <mat-label>{{'delegation' | translate}}</mat-label>
                    <mat-radio-group formControlName="delegation">
                        <mat-radio-button value="Mallorca">Mallorca</mat-radio-button>
                        <mat-radio-button value="Menorca">Menorca</mat-radio-button>
                        <mat-radio-button value="Eivissa">{{'eivissa' | translate}}</mat-radio-button>
                        <mat-radio-button value="Formentera">Formentera</mat-radio-button>
                    </mat-radio-group>
                </section>
                <mat-form-field>
                    <mat-label>{{'projectStatus' |translate}}</mat-label>
                    <mat-select formControlName="projectStatus">
                        <mat-option value="Active">{{'Active' | translate}}</mat-option>
                        <mat-option value="Cancelled">{{'Cancelled' | translate}}</mat-option>
                        <mat-option value="Standby">{{'Standby' | translate}}</mat-option>
                        <mat-option value="Finished">{{'Finished' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- Aparece si projectStatus es Cancelled-->
                <mat-form-field>
                    <mat-label>{{'cancelReason' | translate}}</mat-label>
                    <mat-select formControlName="cancelReason">
                        <mat-option value="NoBusinessInterested">{{'noBusinessInterested' | translate}}</mat-option>
                        <mat-option value="newBusinessCreation">{{'newBusinessCreation' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- Aparece si projectStatus es Standby-->
                <mat-form-field>
                    <mat-label>{{'standbyReason' | translate}}</mat-label>
                    <mat-select formControlName="standbyReason">
                        <mat-option value="pendingDocumentation">{{'pendingDocumentation' | translate}}</mat-option>
                        <mat-option value="atentionPointDerivation">{{'atentionPointDerivation' |
                            translate}}</mat-option>
                        <mat-option value="successReenterprise">{{'successReenterprise' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="textArea">
                    <mat-label>{{'projectStatusObservations' | translate}}</mat-label>
                    <textarea matInput formControlName="projectStatusObservation"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'howKnowUs' | translate}}</mat-label>
                    <mat-select formControlName="howKnowUs">
                        <mat-option [value]="">---</mat-option>
                        @for (knowWay of knowWaysList; track knowWay) {
                        <mat-option [value]="knowWay.value">{{knowWay.label | translate}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </section>
        </mat-tab>
        <mat-tab label="{{'companyPreferencesIbrelleuProject' | translate }}">
            <section>
                <section>
                    <mat-label>{{'automaticMail' | translate}}</mat-label>
                    <mat-radio-group formControlName="matchingAutomaticMail">
                        <mat-radio-button value="1">Enviar</mat-radio-button>
                        <mat-radio-button value="0">No enviar</mat-radio-button>
                    </mat-radio-group>
                </section>
                <mat-form-field>
                    <mat-label>{{'desiredProfile' | translate}}</mat-label>
                    <input matInput type="text" formControlName="desiredProfile">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'sector' | translate}}</mat-label>
                    <mat-select multiple placeholder="Choose multiple options" formControlName="mainSector">
                        @for (sectorItem of sectorList; track sectorItem) {
                        <mat-option [value]="sectorItem.value">{{sectorItem.label | translate}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'activityType' | translate}}</mat-label>
                    <mat-select multiple placeholder="Choose multiple options" formControlName="mainActivity">
                        @for (activityItem of activityList; track activityItem) {
                        <mat-option [value]="activityItem.value">{{activityItem.label | translate}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-checkbox formControlName="municipalMarketInterest">{{'municipalMarketInteress' |
                    translate}}</mat-checkbox>
                <mat-checkbox formControlName="franchiseInterest">{{'franchiseInteress' | translate}}</mat-checkbox>
                <mat-form-field>
                    <mat-label>{{'ambit' | translate}}</mat-label>
                    <mat-select formControlName="geograficAmbit">
                        <mat-option value="282310000">{{'town' | translate}}</mat-option>
                        <mat-option value="282310001">{{'comarca' | translate}}</mat-option>
                        <mat-option value="282310002">{{'provincia' | translate}}</mat-option>
                        <mat-option value="282310003">{{'CCAA' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'maxWorkers' | translate}}</mat-label>
                    <input matInput type="number" formControlName="maxWorkersNum">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'minWorkers' | translate}}</mat-label>
                    <input matInput type="number" formControlName="minWorkersNum">
                </mat-form-field>
                <section>
                    <mat-label>{{'propertyStatus' | translate}}</mat-label>
                    <mat-radio-group formControlName="propertyStatus">
                        <mat-radio-button value="282310000">{{'property' |
                            translate}}</mat-radio-button>
                        <mat-radio-button value="282310001">{{'rent' |
                            translate}}</mat-radio-button>
                        <mat-radio-button value="282310002">{{'noLocal' |
                            translate}}</mat-radio-button>
                    </mat-radio-group>
                </section>
                <mat-form-field>
                    <mat-label>{{'cessionReason' | translate}}</mat-label>
                    <mat-select multiple formControlName="cessionReason">
                        @for (reason of cessionReasonsList; track reason) {
                        <mat-option [value]="reason.value">{{reason.label | translate}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </section>
        </mat-tab>
        <mat-tab label="{{'inversionCapacity' | translate }}">
            <section>
                <!-- Hardcodeo este y no el de grantor debido a que 
                 este dato no aparece en el listado de proyectos relleu-->
                <mat-form-field>
                    <mat-label>{{'transferPriceInterval' | translate}}</mat-label>
                    <mat-select formControlName="transferInterval">
                        <mat-option>---</mat-option>
                        <mat-option value="282310000">0 € - 5.000 €</mat-option>
                        <mat-option value="282310001">5.000 € - 10.000 €</mat-option>
                        <mat-option value="282310002">20.000 € - 30.000 €</mat-option>
                        <mat-option value="282310003">30.000 € - 40.000 €</mat-option>
                        <mat-option value="282310004">40.000 € - 50.000 €</mat-option>
                        <mat-option value="282310005">50.000 € - 75.000 €</mat-option>
                        <mat-option value="282310006">75.000 € - 100.000 €</mat-option>
                        <mat-option value="282310007">100.000 € - 150.000 €</mat-option>
                        <mat-option value="282310008">150.000 € - 200.000 €</mat-option>
                        <mat-option value="282310009">200.000 € - 300.000 €</mat-option>
                        <mat-option value="282310010">300.000 € - 400.000 €</mat-option>
                        <mat-option value="282310011">400.000 € - 500.000 €</mat-option>
                        <mat-option value="282310012">500.000 € - 750.000 €</mat-option>
                        <mat-option value="282310014">750.000 € - 1.000.000 €</mat-option>
                        <mat-option value="282310015">1.000.000 € - 1.500.000 €</mat-option>
                        <mat-option value="282310016">1.500.000 € - 2.000.000 €</mat-option>
                        <mat-option value="282310017">2.000.000 € - 3.000.000 €</mat-option>
                        <mat-option value="282310013">> de 3.000.000 €</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'partnersAportations' | translate}}</mat-label>
                    <input matInput formControlName="partnersAportation">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'particularFinancing' | translate}}</mat-label>
                    <input matInput formControlName="particularFinancing">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'bankFinancing' | translate}}</mat-label>
                    <input matInput formControlName="bankFinancing">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'paroCapitalization' | translate}}</mat-label>
                    <input matInput formControlName="unemployeementCap">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'othersFinancing' | translate}}</mat-label>
                    <input matInput formControlName="otherFinancing">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'totalEconomicCapacity' | translate}}</mat-label>
                    <input matInput type="number" formControlName="totalEconomicCapacity">
                </mat-form-field>
            </section>
        </mat-tab>
        <mat-tab label="{{'desiredProfile' | translate }}">
            <section>
                <section>
                    <mat-label>{{'howReenterprise' | translate}}</mat-label>
                    <mat-radio-group formControlName="howReenterprise">
                        <mat-radio-button value="0">{{'alone' | translate}}</mat-radio-button>
                        <mat-radio-button value="1">{{'withPartners' | translate}}</mat-radio-button>
                    </mat-radio-group>
                </section>
                <!-- Si howReenterprise es 1, este campo aparece-->
                <mat-form-field>
                    <mat-label>{{'withWho' | translate}}</mat-label>
                    <input matInput formControlName="withWho">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{'reenterpriseReasons' | translate}}</mat-label>
                    <mat-select multiple formControlName="reenterpriseReasons">
                        <mat-option value="121370000">{{'autoOcupation' |translate}}</mat-option>
                        <mat-option value="121370001">{{'personalProject' |translate}}</mat-option>
                        <mat-option value="121370002">{{'familyBusinessManagement' |translate}}</mat-option>
                        <mat-option value="121370003">{{'ownBoss' |translate}}</mat-option>
                        <mat-option value="121370004">{{'unemployeementExit' |translate}}</mat-option>
                        <mat-option value="121370005">{{'locationChange' |translate}}</mat-option>
                        <mat-option value="121370006">{{'professionChange' |translate}}</mat-option>
                        <mat-option value="121370007">{{'newBusinessAlternative' |translate}}</mat-option>
                        <mat-option value="121370008">{{'inversion' |translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'reenterpriseSteps' | translate}}</mat-label>
                    <mat-select multiple formControlName="reenterpriseSteps">
                        <mat-option value="121370000">{{'reenterpriseContactGrantor' | translate}}</mat-option>
                        <mat-option value="121370001">{{'reenterpriseAd' | translate}}</mat-option>
                        <mat-option value="121370002">{{'grantorNegociations' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'ibRelleuAdvantages' | translate}}</mat-label>
                    <mat-select multiple formControlName="projectAdvantages">
                        <mat-option value="121370008">{{'acompanyamentGrantor' |translate}}</mat-option>
                        <mat-option value="121370009">{{'acompanyamentIBrelleu' |translate}}</mat-option>
                        <mat-option value="121370004">{{'clientsWallet' |translate}}</mat-option>
                        <mat-option value="121370006">{{'suppliersWallet' |translate}}</mat-option>
                        <mat-option value="121370007">{{'unorganicGrowth' |translate}}</mat-option>
                        <mat-option value="121370000">{{'elementsActiu' |translate}}</mat-option>
                        <mat-option value="121370001">{{'workingBusiness' |translate}}</mat-option>
                        <mat-option value="121370005">{{'solidLegalForm' |translate}}</mat-option>
                        <mat-option value="121370003">{{'laboralWorldIncorporation' |translate}}</mat-option>
                        <mat-option value="121370002">{{'know-how' |translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'ibRelleuDisadvantages' | translate}}</mat-label>
                    <mat-select multiple formControlName="projectDisadvantages">
                        <mat-option value="121370000">{{'needFinancing' |translate}}</mat-option>
                        <mat-option value="121370001">{{'needBusinessExperience' |translate}}</mat-option>
                        <mat-option value="121370002">{{'strongRelationGrantorBusiness' |translate}}</mat-option>
                        <mat-option value="121370003">{{'workLoads' |translate}}</mat-option>
                        <mat-option value="121370004">{{'transmissionProcessInsecurity' |translate}}</mat-option>
                        <mat-option value="121370005">{{'staySameClientsWallet' |translate}}</mat-option>
                        <mat-option value="121370006">{{'hardViabilityValidation' |translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'activityFormation' | translate}}</mat-label>
                    <mat-select multiple formControlName="neededFormation">
                        <mat-option value="121370000">{{'activityObjective' |translate}}</mat-option>
                        <mat-option value="121370001">{{'legalLaboralFiscalsAspects' |translate}}</mat-option>
                        <mat-option value="121370002">{{'valoration' |translate}}</mat-option>
                        <mat-option value="121370003">{{'negociation' |translate}}</mat-option>
                        <mat-option value="121370004">{{'accountabilityAnalysis' |translate}}</mat-option>
                        <mat-option value="121370005">{{'businessManagement' |translate}}</mat-option>
                        <mat-option value="121370006">{{'businessModel' |translate}}</mat-option>
                        <mat-option value="121370007">{{'financing' |translate}}</mat-option>
                        <mat-option value="121370008">{{'buySellProcess' |translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'maxDateReenterprise' | translate}}</mat-label>
                    <input matInput type="date" formControlName="maximumDateReenterprise">
                </mat-form-field>
                <section>
                    <mat-label>{{'contactWithGrantor' | translate}}</mat-label>
                    <mat-radio-group formControlName="grantorContact">
                        <mat-radio-button value="1">Si</mat-radio-button>
                        <mat-radio-button value="0">No</mat-radio-button>
                    </mat-radio-group>
                </section>
                <mat-form-field class="textArea">
                    <mat-label>{{'externalContactGrantorDescription' | translate}}</mat-label>
                    <textarea matInput cols="4" formControlName="grantorContactDescription"></textarea>
                </mat-form-field>
                <section>
                    <mat-label>{{'intermediationContact' | translate}}</mat-label>
                    <mat-radio-group formControlName="intermediateContact">
                        <mat-radio-button value="1">Si</mat-radio-button>
                        <mat-radio-button value="0">No</mat-radio-button>
                    </mat-radio-group>
                </section>
                <mat-form-field class="textArea">
                    <mat-label>{{'intermediationContactDescription' |translate}}</mat-label>
                    <textarea matInput cols="4" formControlName="intermediateContactDescription"></textarea>
                </mat-form-field>
            </section>
        </mat-tab>
        <!-- <mat-tab label="{{'ad' | translate }}"></mat-tab> -->
        <mat-tab label="{{'meetings' | translate }}"></mat-tab>
        <mat-tab label="{{'situationBalance' | translate }}"></mat-tab>
        <mat-tab label="{{'resultsAccount' | translate }}"></mat-tab>
        <mat-tab label="{{'documentation' | translate }}">
            <!-- <app-file-upload id="{{id}}" origin="ibrelleuprojects" class="textArea"></app-file-upload> -->
            <app-document id="{{id}}" origin="ibrelleuproject"></app-document>
        </mat-tab>

    </mat-tab-group>
    <div ngClass="centered-item">
        <button mat-raised-button color="primary" type="submit">Guardar</button>
    </div>
    <div ngClass="centered-item">
        <small ngClass="centered-item">
            Status: {{ibrelleuProjectForm.status}} | Valid: {{ibrelleuProjectForm.valid}} | Pristine:
            {{ibrelleuProjectForm.pristine}} | Touched: {{ibrelleuProjectForm.touched}} | Dirty:
            {{ibrelleuProjectForm.dirty}}
        </small>
    </div>
</form>